<body id='faqs' class='navbar-help'>
  <div id='faqswrapper'>
    <div id='faqstables'>

      <br><%= link_to 'Create FAQ', '#createfaqmodal', id: 'createobligation', class: 'btn btn-primary' %>
      <%= render partial: 'faqs/partials/view_faq' %>
      <%= render partial: 'faqs/partials/create_faq' %>


    </div>

  </div>
</body>



  