<div id="createfaqmodal" class='modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">
  <div>
    <h3>Create a FAQ</h3><button type='button' class="button_closeObligation btn btn-xs" data-type='CreateObligationModal'>Close</button>
  </div>



</div>

