<div class="page-holder">
  <div id="source-page" class="page bg-source" style="position: fixed; width: 1123px; margin-top: -975px;">
    <div class="wrapper">
      <div class="w1">
        <div class="w2">
          <section class="sourse-gallery" style="margin-left: 418px;">






            <!-- This is where the calendar will start -->
            <div class="field" data-year="2014">
              <div class="col-holder popup-inside active active-item">
                <div class="popup-area"></div>
                <div class="col" data-month="8">
                  <article>
                    <header>
                      <em class="date">17 HOURS AGO</em>
                    </header>
                    <h2>Suspects Spotted on Bicycle During Interview of Crime Victim</h2>
                    <p>Two suspects are arrested by officers from Districts…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-spotted-on-bicycle-during-interview-of-crime-victim/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 DAYS AGO</em>
                    </header>
                    <h2>Armed Robbery Suspect Arrested, Confesses to Other Crime</h2>
                    <p>A convicted felon is arrested by Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robbery-suspect-arrested-confesses-to-other-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 DAYS AGO</em>
                    </header>
                    <h2>Robbery Suspects Charged After ID Left at Crime Scene</h2>
                    <p>Two suspects are arrested by Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/robbery-suspects-charged-after-id-left-at-crime-scene/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 DAYS AGO</em>
                    </header>
                    <h2>Prolific Criminal Arrested for Attempting to Enter Unlocked Cars</h2>
                    <p>Milwaukee Police arrested a convicted felon after…</p>
                    <a href="http://www.milwaukeepolicenews.com/prolific-criminal-arrested-for-attempting-to-enter-unlocked-cars/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 DAYS AGO</em>
                    </header>
                    <h2>Armed Robbery Suspects Arrested for Two Crimes</h2>
                    <p>Officers from District One and District Five…</p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robbery-suspects-arrested-for-two-crimes/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay" style="display: none;">&nbsp;</div></div><div class="col" data-month="8">

                  <article>
                    <header>
                      <em class="date">1 WEEK AGO</em>
                    </header>
                    <h2>Burglary Suspects Caught Fleeing From Crime Scene</h2>
                    <p>Four burglary suspects are arrested by officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/burglary-suspects-caught-fleeing-from-crime-scene/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 WEEK AGO</em>
                    </header>
                    <h2>Officers Hear Gun Shots, Arrest Shooter</h2>
                    <p>A convicted felon is arrested by District…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-hear-gun-shots-arrest-shooter/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 WEEK AGO</em>
                    </header>
                    <h2>Strong Arm Robbery Suspects Arrested After Vehicle Hits Officer</h2>
                    <p>Five suspects are arrested for their involvement…</p>
                    <a href="http://www.milwaukeepolicenews.com/strong-arm-robbery-suspects-arrested-after-vehicle-hits-officer/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 WEEK AGO</em>
                    </header>
                    <h2>MPD Seeks Armed Robbery, Sexual Assault Suspect</h2>
                    <p>Milwaukee Police are seeking a suspect wanted…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-armed-robbery-sexual-assault-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay" style="display: none;">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="8">
                  <article>
                    <header>
                      <em class="date">1 WEEK AGO</em>
                    </header>
                    <h2>Juvenile Arrested for Arson, Connected to Three Other Crimes</h2>
                    <p>A juvenile is arrested by District Four…</p>
                    <a href="http://www.milwaukeepolicenews.com/juvenile-arrested-for-arson-connected-to-three-other-crimes/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Suspects Arrested After Shots Fired at MPD Officers</h2>
                    <p>Five suspects are arrested after shots were…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-arrested-after-shots-fired-at-mpd-officers/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Four Teenage Suspects Arrested in Attempted Armed Robbery</h2>
                    <p>Four teenage suspects wanted in an attempted…</p>
                    <a href="http://www.milwaukeepolicenews.com/four-teenage-suspects-arrested-in-attempted-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Teenager Arrested for Armed Robbery After Being Spotted at Crime Scene</h2>
                    <p>A teenager is arrested by the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/teenager-arrested-for-armed-robbery-after-being-spotted-at-crime-scene/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay" style="display: block;">&nbsp;</div></div><div class="col" data-month="8">

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Convicted Felon Arrested in Triple Shooting</h2>
                    <p>A suspect is arrested by officers from…</p>
                    <a href="http://www.milwaukeepolicenews.com/convicted-felon-arrested-in-triple-shooting/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Cell Phone Leads to Arrests in Burglary Investigation</h2>
                    <p>A call to a cell phone left…</p>
                    <a href="http://www.milwaukeepolicenews.com/cell-phone-leads-to-arrests-in-burglary-investigation/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Shooting Suspect Found Sleeping in Car</h2>
                    <p>District Five officers from the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/shooting-suspect-found-sleeping-in-car/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 WEEKS AGO</em>
                    </header>
                    <h2>Teen Suspects Arrested for Car Theft, Attempted Car Theft</h2>
                    <p>Two teenage suspects are arrested by the…</p>
                    <a href="http://www.milwaukeepolicenews.com/teen-suspects-arrested-for-car-theft-attempted-car-theft/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay" style="display: block;">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="8">
                  <article>
                    <header>
                      <em class="date">3 WEEKS AGO</em>
                    </header>
                    <h2>Armed Robbery Suspects Caught After Crashing Stolen Car</h2>
                    <p><span style="font-family: Calibri;">Three armed robbery&nbsp;suspects are arrested…</span></p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robbery-suspects-caught-after-crashing-stolen-car/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 WEEKS AGO</em>
                    </header>
                    <h2>MPD Investigates Fatal Motor Vehicle Crash</h2>
                    <p>Milwaukee Police are investigating a fatal motor…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-investigates-fatal-motor-vehicle-crash/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 WEEKS AGO</em>
                    </header>
                    <h2>Strong Armed Robbery Suspect Arrested by MPD Officers</h2>
                    <p>District Five officers from the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/strong-armed-robbery-suspect-arrested-by-mpd-officers/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 WEEKS AGO</em>
                    </header>
                    <h2>District Four Officers Arrest Armed Robbery Suspects Minutes After Crime</h2>
                    <p>District Four officers from the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-four-officers-arrest-armed-robbery-suspects-minutes-after-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="8">

                  <article>
                    <header>
                      <em class="date">3 WEEKS AGO</em>
                    </header>
                    <h2>Citizens, Officers Help Save Shooting Victim’s Life</h2>
                    <p>Citizens at the scene and officers from…</p>
                    <a href="http://www.milwaukeepolicenews.com/citizens-officers-help-save-shooting-victims-life/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="7">

                  <article>
                    <header>
                      <em class="date">4 WEEKS AGO</em>
                    </header>
                    <h2>Ceiling Criminals: Burglary Suspects Caught in the Act</h2>
                    <p>Two burglary suspects are arrested by Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/ceiling-criminals-burglary-suspects-caught-in-the-act/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 WEEKS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek July 17 Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-july-17-bank-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 WEEKS AGO</em>
                    </header>
                    <h2>MPD Investigates July 30 Fatal Crash</h2>
                    <p>The Milwaukee Police Department is investigating a…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-investigates-july-30-fatal-crash/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 WEEKS AGO</em>
                    </header>
                    <h2>Suspect on Probation for Burglary, Arrested for Committing New Crime</h2>
                    <p>A suspect, on probation for a previous…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-on-probation-for-burglary-arrested-for-committing-new-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="7">

                  <article>
                    <header>
                      <em class="date">4 WEEKS AGO</em>
                    </header>
                    <h2>Suspected Armed Robbers Arrested After Off-Duty Officer Notices Suspicious Activity</h2>
                    <p>Four suspected armed robbers are arrested by…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspected-armed-robbers-arrested-after-off-duty-officer-notices-suspicious-activity/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Off-Duty Officer Stops Potential Burglary</h2>
                    <p>An off-duty District Three Milwaukee Police officer’s…</p>
                    <a href="http://www.milwaukeepolicenews.com/off-duty-officer-stops-potential-burglary/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Officers Recognize Teenage Suspects, Make Arrest for Aggravated Assault</h2>
                    <p>Milwaukee Police officers arrested two teenage suspects…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-recognize-teenage-suspects-make-arrest-for-aggravated-assault/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>MPD Investigates Armed Robberies That Result in Arrest, Pursuit, and Crash</h2>
                    <p>The Milwaukee Police Department is investigating a…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-investigates-armed-robberies-that-result-in-arrest-pursuit-and-crash/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="7">
                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Woman Arrested After Cutting Officer with Razor</h2>
                    <p>A woman is arrested by officers from…</p>
                    <a href="http://www.milwaukeepolicenews.com/woman-arrested-after-cutting-officer-with-razor/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Convicted Felon Arrested for Shooting Gun in Parking Lot</h2>
                    <p>A convicted felon is arrested after firing…</p>
                    <a href="http://www.milwaukeepolicenews.com/convicted-felon-arrested-for-shooting-gun-in-parking-lot/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Convicted Felon Arrested Minutes After Armed Robbery</h2>
                    <p>Officers from District 4 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/convicted-felon-arrested-minutes-after-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Milwaukee Police Investigate Homicide</h2>
                    <p>Milwaukee Police are investigating a homicide that…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-investigate-homicide-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="7">

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Suspects Arrested in North Side Shooting Investigation</h2>
                    <p>Three men were arrested by officers from…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-arrested-in-north-side-shooting-investigation/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>MPD Detectives Save Child’s Life</h2>
                    <p>The quick thinking and actions of two…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-detectives-save-childs-life/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>MPD Recruits Graduate from Academy</h2>
                    <p>Chief Edward Flynn and the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-recruits-graduate-from-academy/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Officers Arrest Suspect for Shooting Gun Toward House Party</h2>
                    <p>Officers from District 7 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-arrest-suspect-for-shooting-gun-toward-house-party/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="7">
                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Teen Arrested, Confesses to Attempted Cell Phone Robbery</h2>
                    <p>A teenage suspect wanted in an attempted…</p>
                    <a href="http://www.milwaukeepolicenews.com/teen-arrested-confesses-to-attempted-cell-phone-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>Burglary Suspects Caught Trying to Break Into Business</h2>
                    <p>Two burglary suspects are arrested after officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/burglary-suspects-caught-trying-to-break-into-business/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">1 MONTH AGO</em>
                    </header>
                    <h2>MPD Officers Participate in VA Sports Clinic</h2>
                    <p>Several Milwaukee Police officers recently got the…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-officers-participate-in-va-sports-clinic/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Fingerprints, Facebook and Fashion Help MPD Solve Bank Robbery</h2>
                    <p>A bank robbery suspect is arrested and…</p>
                    <a href="http://www.milwaukeepolicenews.com/fingerprints-facebook-and-fashion-help-mpd-solve-bank-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="7">

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>12-Year-Old Arrested for Starting Garage on Fire</h2>
                    <p>Milwaukee Police arrested a 12-year-old male for…</p>
                    <a href="http://www.milwaukeepolicenews.com/12-year-old-arrested-for-starting-garage-on-fire/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Officers Arrest Suspect in Armed Robbery, Recover Stolen Car and Electronics</h2>
                    <p>Officers from the Milwaukee Police Department arrested…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-arrest-suspect-in-armed-robbery-recover-stolen-car-and-electronics/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Teenagers Arrested for Attempted Armed Robbery of Delivery Driver</h2>
                    <p>Police officers from District Five of the…</p>
                    <a href="http://www.milwaukeepolicenews.com/teenagers-arrested-for-attempted-armed-robbery-of-delivery-driver/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Officers on Fireworks Deployment Save Life</h2>
                    <p>Milwaukee Police officers working crowd management for…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-on-firework-deployment-save-life/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="7">
                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek Suspect with Gun on County Bus</h2>
                    <p>The Milwaukee Police Department is seeking a…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-suspect-with-gun-on-county-bus/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="6">

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Burglary Suspect, On Probation, Caught Trying to Steal Donation Box</h2>
                    <p>Officers from District Six of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/burglary-suspect-on-probation-caught-trying-to-steal-donation-box/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Felons with Guns Charged in Attack on Officers</h2>
                    <p>Two Milwaukee men, both convicted felons, are…</p>
                    <a href="http://www.milwaukeepolicenews.com/felons-with-guns-charged-in-attack-on-officers/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-bank-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Teenage Suspects Arrested for North Side Armed Robbery</h2>
                    <p>Five teenage suspects are arrested for their…</p>
                    <a href="http://www.milwaukeepolicenews.com/teenage-suspects-arrested-for-north-side-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="6">
                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Suspects Charged in Crash That Injured Officers</h2>
                    <p>Three Milwaukee men, including a convicted felon,…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-charged-in-crash-that-injured-officers/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>MPD Detectives Exchange Gunfire With Armed Suspect</h2>
                    <p>A Milwaukee Police detective was grazed by…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-detectives-exchange-gunfire-with-armed-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Armed Robbery Suspects Quickly Caught with Help of “App”</h2>
                    <p>Officers from the Milwaukee Police Department’s District…</p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robbery-suspects-quickly-caught-with-help-of-app/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>FBI/MPD Task Force Dismantles Violent Street Gang</h2>
                    <p>On Tuesday, June 17 a task force…</p>
                    <a href="http://www.milwaukeepolicenews.com/fbimpd-task-force-dismantles-violent-street-gang/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="6">

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>ShotSpotter Technology Helps in Arrest of Suspect</h2>
                    <p>Officers from District Three of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/shotspotter-technology-helps-in-arrest-of-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">2 MONTHS AGO</em>
                    </header>
                    <h2>Bicycle Officers Arrest Armed Robbery Suspect</h2>
                    <p>Milwaukee Police officers who were on patrol…</p>
                    <a href="http://www.milwaukeepolicenews.com/bicycle-officers-arrest-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Teen Burglary Suspects Arrested After Alert Neighbor Calls Police</h2>
                    <p>Two teenage suspects are arrested by officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/teen-burglary-suspects-arrested-after-alert-neighbor-calls-police/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Off-Duty Detective Helps Catch Strong-Armed Robbery Suspect</h2>
                    <p>An off-duty Milwaukee Police detective and officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/off-duty-detective-helps-catch-strong-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="6">
                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>District Two Officers Catch Burglary Suspect in the Act</h2>
                    <p>Officers from District Two of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-two-officers-catch-burglary-suspect-in-the-act/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Bank Robbery Suspect Arrested, Charged After Officers Recognize Him on Wanted Poster</h2>
                    <p>A bank robbery suspect is arrested and…</p>
                    <a href="http://www.milwaukeepolicenews.com/bank-robbery-suspect-arrested-charged-after-officers-recognize-him-on-wanted-poster/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>District Two Officers Prevent Teen from Harming Himself and Others</h2>
                    <p>Officers from District Two of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-two-officers-prevent-teen-from-harming-himself-and-others/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Text Messages Lead to Arrest of Armed Robbery Suspects</h2>
                    <p>Police officers from District 3 of the…</p>
                    <a href="http://www.milwaukeepolicenews.com/text-messages-lead-to-arrest-of-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="6">

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Community Helps District Four Officers Solve Burglary</h2>
                    <p>With the help of information from the…</p>
                    <a href="http://www.milwaukeepolicenews.com/community-helps-district-four-officers-solve-burglary/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Felon with Gun, Another Suspect, Arrested After Disorder in Parking Garage</h2>
                    <p>Two Milwaukee men, including a convicted felon,…</p>
                    <a href="http://www.milwaukeepolicenews.com/felon-with-gun-another-suspect-arrested-after-disorder-in-parking-garage/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="5">

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Help Milwaukee Police Identify Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/help-milwaukee-police-identify-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Police Arrest Attempted Burglary Suspect with Help from Citizens</h2>
                    <p>A teenage suspect was arrested for an…</p>
                    <a href="http://www.milwaukeepolicenews.com/police-arrest-attempted-burglary-suspect-with-help-from-citizens/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Up in Flames: Officers Quickly Extinguish Fire on Northwest Side</h2>
                    <p>Two officers from the Milwaukee Police Department’s…</p>
                    <a href="http://www.milwaukeepolicenews.com/up-in-flames-officers-quickly-extinguish-fire-on-northwest-side/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Jewelry Store Armed Robbery Suspects Caught on Camera</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/jewelry-store-armed-robbery-suspects-caught-on-camera/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="5">

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>Officers Spot Getaway Car, Arrest Suspects Wanted in Armed Robberies</h2>
                    <p>Three Milwaukee men are arrested and charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-spot-getaway-car-arrest-suspects-wanted-in-armed-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">3 MONTHS AGO</em>
                    </header>
                    <h2>MPD Members and Citizens Honored at Merit Awards Ceremony</h2>
                    <p>Chief Edward Flynn and the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-members-and-citizens-honored-at-merit-awards-ceremony/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Armed Robbery Suspect Arrested When Stolen Phone Rings in Backpack</h2>
                    <p>Milwaukee Police arrest a teenage suspect involved…</p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robbery-suspect-arrested-when-stolen-phone-rings-in-backpack/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Teenage Suspect Arrested in String of Robberies</h2>
                    <p>A Milwaukee teenager is arrested and facing…</p>
                    <a href="http://www.milwaukeepolicenews.com/teenage-suspect-arrested-in-string-of-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="5">
                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Mask-Wearing Suspect Robs Bank</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/mask-wearing-suspet-robs-bank/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>MPD and ATF Searching for Group of Armed Robbers</h2>
                    <p>Milwaukee Police and the Bureau of Alcohol,…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-and-atf-searching-for-group-of-armed-robbers-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks to Identify Burglary Suspect Caught on Camera</h2>
                    <p><span style="color: #000000;">The Milwaukee Police Department needs…</span></p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-to-identify-burglary-suspect-caught-on-camera/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="4">

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Attacks Officer, Shot and Killed by Police</h2>
                    <p>A suspect was shot by a Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-attacks-officer-shot-and-killed-by-police/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Arrested, Charged in Attempted Homicide</h2>
                    <p>A 43-year-old man has been arrested and…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-arrested-charged-in-attempted-homicide/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Help MPD Identify Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/help-mpd-identify-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Recently Released Prisoner Arrested in Colorado for Milwaukee Bank Robbery</h2>
                    <p>A 57-year-old South Milwaukee man has been…</p>
                    <a href="http://www.milwaukeepolicenews.com/recently-released-prisoner-arrested-in-colorado-for-milwaukee-bank-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="4">
                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks Suspect in Armed Robbery Investigation</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-suspect-in-armed-robbery-investigation/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Gas Station Armed Robbery Suspect Caught on Tape</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/gas-station-armed-robbery-suspect-caught-on-tape/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Officers Arrest Wrong-Way Drunk Driver</h2>
                    <p>At approximately 3:00 am on April 17,…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-arrest-wrong-way-drunk-driver/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>MPD Joins ATF in Effort to Target Gun Crime</h2>
                    <p>The Milwaukee Police Department is partnering with…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-joins-atf-in-effort-to-target-gun-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="4">

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Help Milwaukee Police Find Suspect Wanted in Shooting</h2>
                    <p>The Milwaukee Police Department is asking for…</p>
                    <a href="http://www.milwaukeepolicenews.com/help-milwaukee-police-find-suspect-wanted-in-shooting/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Teens in Stolen Car Arrested, Face Several Charges</h2>
                    <p>Two Milwaukee teenagers are arrested and are…</p>
                    <a href="http://www.milwaukeepolicenews.com/teens-in-stolen-car-arrested-face-several-charges/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Arrested by District Three Officers Upon Return to Crime Scene</h2>
                    <p>A Milwaukee man is arrested and charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-arrested-by-district-three-officers-upon-return-to-crime-scene/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>District Four Officers Arrest Three Suspects in Two Separate Armed Robberies</h2>
                    <p>Officers from Milwaukee Police Department District Four…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-four-officers-arrest-three-suspects-in-two-separate-armed-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="4">
                  <article>
                    <header>
                      <em class="date">4 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks Gas Station Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-gas-station-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Robbery Suspect Arrested After Spotted on Surveillance Video</h2>
                    <p>A 17-year-old male is arrested and charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/robbery-suspect-arrested-after-spotted-on-surveillance-video/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police, Milwaukee Fire Train Together for Active Shooter Scenario</h2>
                    <p><span style="color: #000000;">The Milwaukee Police Department and…</span></p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-milwaukee-fire-train-together-for-active-shooter-scenario/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="4">

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Strong Armed Robbery Suspect Sought</h2>
                    <p>Milwaukee Police are asking for your help…</p>
                    <a href="http://www.milwaukeepolicenews.com/strong-armed-robbery-suspect-sought-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Ask Public to Help Solve Recent Bank Robberies</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-ask-public-to-help-solve-recent-bank-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Teenage Suspect Arrested in Attempted Armed Robbery</h2>
                    <p>A 15-year-old Milwaukee male has been arrested…</p>
                    <a href="http://www.milwaukeepolicenews.com/teenage-suspect-arrested-in-attempted-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>13-Year-Old Suspect Arrested in Armed Robbery</h2>
                    <p>Milwaukee Police arrested a 13-year-old Milwaukee male…</p>
                    <a href="http://www.milwaukeepolicenews.com/13-year-old-suspect-arrested-in-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="4">
                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Male Suspect Wanted in Bank Robbery</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/male-suspect-wanted-in-bank-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Officers Use “Find My iPad” App to Arrest Burglary Suspects</h2>
                    <p>Three suspects, including one juvenile, have been…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-use-find-my-ipad-app-to-arrest-burglary-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks Suspects Using Counterfeit Credit Card</h2>
                    <p>Milwaukee Police need your help finding two…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-suspects-using-counterfeit-credit-card/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="3">

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Charged in Gas Station Attempted Armed Robbery</h2>
                    <p>The Milwaukee County District Attorney has charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-charged-in-gas-station-attempted-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Officers Arrest Burglary Suspect</h2>
                    <p>Officers from District 5 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/officers-arrest-burglary-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Teen Arrested in Cell Phone Theft on County Bus</h2>
                    <p>Officers from the Milwaukee Police Department’s Neighborhood…</p>
                    <a href="http://www.milwaukeepolicenews.com/teen-arrested-in-cell-phone-theft-on-county-bus/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-bank-robbery-suspect-3/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="3">
                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek Convenience Store Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-convenience-store-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Three Teenagers Arrested in Robberies</h2>
                    <p>Milwaukee Police have arrested three female juveniles…</p>
                    <a href="http://www.milwaukeepolicenews.com/three-teenagers-arrested-in-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Armed Robber Strikes South Side Bank</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/armed-robber-strikes-south-side-bank/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Suspect with Gun Caught on Camera Robbing Business</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-with-gun-caught-on-camera-robbing-business/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="3">

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Report 2013 Crime Statistics</h2>
                    <p>The Milwaukee Police Department has released its…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-report-2013-crime-statistics/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek Shooting Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-shooting-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">5 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Charged in Fast Food Attempted Armed Robbery</h2>
                    <p>The Milwaukee County District Attorney has charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-charged-in-fast-food-attempted-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Charges Issued Against Felon for Gun, Drug Possession</h2>
                    <p>The Milwaukee County District Attorney has charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/charges-issued-against-felon-for-gun-drug-possession/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="3">
                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Bank Robber</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-bank-robber/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks Wig-Wearing Bank Robber</h2>
                    <p>A wig-wearing robber strikes at a Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-wig-wearing-bank-robber/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Help MPD Identify Two Attempted Armed Robbery Suspects</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/help-mpd-identify-two-attempted-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Office of Community Outreach and Education Logo Contest Winner Announced</h2>
                    <p>The Milwaukee Police Department’s Office of Community…</p>
                    <a href="http://www.milwaukeepolicenews.com/office-of-community-outreach-and-education-logo-contest-winner-announced/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="2">

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>MPD Needs Your Help Solving Bank Robberies</h2>
                    <p>The Milwaukee Police Department needs your help…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-needs-your-help-solving-bank-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>ShotSpotter Technology Leads to Arrest</h2>
                    <p>Officers from District Three of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/shotspotter-technology-leads-to-arrest/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Sexual Assault Suspect Caught, Linked to Other Crimes</h2>
                    <p>A sexual assault suspect is arrested by…</p>
                    <a href="http://www.milwaukeepolicenews.com/sexual-assault-suspect-caught-linked-to-other-crimes/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-bank-robbery-suspect-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="2">
                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Five Suspects, Including Three Juveniles, Arrested for Crime Spree</h2>
                    <p>Alert police work by the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/five-suspects-including-three-juveniles-arrested-for-crime-spree/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>MPD Arrests Three Suspects in Armed Robbery</h2>
                    <p>Milwaukee Police arrest three suspects wanted in…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-arrests-three-suspects-in-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Arrested, Charged for Spitting on Milwaukee Police Officer</h2>
                    <p>Milwaukee Police arrested 28-year-old Larry A. Green…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-arrested-charged-for-spitting-on-milwaukee-police-officer/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">6 MONTHS AGO</em>
                    </header>
                    <h2>MPD Asking for Help Finding Hit-and-Run Driver and Car</h2>
                    <p>The Milwaukee Police Department is looking for…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-asking-for-help-finding-hit-and-run-driver-and-car/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="2">

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Fresh Footprints Lead to Arrest of Convicted Felon</h2>
                    <p>Officers from District 7 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/fresh-footprints-lead-to-arrest-of-convicted-felon/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Recover Stolen Violin</h2>
                    <p>The Milwaukee Police Department is pleased and…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-recover-stolen-violin/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Suspects Arrested in Violin Robbery, Still Seeking Violin</h2>
                    <p>The Milwaukee Police Department has arrested three…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-arrested-in-violin-robbery-still-seeking-violin/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>District 4 Officers Rescue Residents from Burning Apartment Building</h2>
                    <p>Shortly after 9 a.m. on February 4,…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-4-officers-rescue-residents-from-burning-apartment-building/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="2">
                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Four Teens Arrested in Armed Robbery of Other Teen</h2>
                    <p>Four teenage males are in custody after…</p>
                    <a href="http://www.milwaukeepolicenews.com/four-teens-arrested-in-armed-robbery-of-other-teen/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Felon Arrested, Charged For Shooting Child</h2>
                    <p>The Milwaukee County District Attorney has charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/felon-arrested-charged-for-shooting-child/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="1">

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Quick-Thinking MPD Officers Use App to Find Suspect</h2>
                    <p>The Milwaukee County District Attorney has charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/quick-thinking-mpd-officers-use-app-to-find-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek to Identify Shooting, Armed Robbery Suspects</h2>
                    <p>Milwaukee Police are asking for the public…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-to-identify-shooting-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Officer Shoots Armed Suspect During Struggle</h2>
                    <p>A robbery suspect armed with a semi-automatic…</p>
                    <a href="http://www.milwaukeepolicenews.com/officer-shoots-armed-suspect-during-struggle/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking for the public…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-armed-robbery-suspect-3/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="1">
                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>MPD Officers Help Reunite Elderly Man with Family</h2>
                    <p>Officers from District 7 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-officers-help-reunite-elderly-man-with-family/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Rare Violin Taken in Robbery</h2>
                    <p>After a performance at Wisconsin Lutheran College,…</p>
                    <a href="http://www.milwaukeepolicenews.com/rare-violin-taken-in-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Loaded Gun and Drugs Seized in Traffic Stop</h2>
                    <p>Officers from District 4 of the Milwaukee…</p>
                    <a href="http://www.milwaukeepolicenews.com/loaded-gun-and-drugs-seized-in-traffic-stop/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Make Ten Arrests in Prostitution Sting</h2>
                    <p>The Milwaukee Police Department has arrested ten…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-make-nine-arrests-in-prostitution-sting/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="1">

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek to Identify Armed Robbery Suspects</h2>
                    <p>Milwaukee Police are asking for the public…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-to-identify-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>MPD: Don’t Leave Your Car Unattended and Running in Cold Temperatures</h2>
                    <p>With more bone-chilling temperatures in Milwaukee, the…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-dont-leave-your-car-unattended-and-running-in-cold-temperatures/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>MPD District 5 Officers Arrest Burglary Suspects Minutes After Crime</h2>
                    <p>Two burglary suspects are charged after officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-district-5-officers-arrest-burglary-suspects-minutes-after-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>MPD Deputy Inspector to Retire After 32 Years of Service</h2>
                    <p>Deputy Inspector Donald Gaglione is saying goodbye…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-deputy-inspector-to-retire-after-32-years-of-service/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="1">
                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Armed Robbery Suspects</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Suspects Sought After Strong Armed Robbery</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspects-sought-after-strong-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Suspect Arrested and Charged in McDonald’s Armed Robbery</h2>
                    <p>A Milwaukee man is arrested and charged…</p>
                    <a href="http://www.milwaukeepolicenews.com/suspect-arrested-and-charged-in-mcdonalds-armed-robbery/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>UPDATE: Five Suspects in Three East Side Armed Robberies Charged</h2>
                    <p>Five armed robbery suspects were charged Thursday,…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-arrest-five-suspects-in-three-east-side-armed-robberies/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="1">

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Convicted Felon Faces New Drug, Gun Charges</h2>
                    <p>A convicted felon is charged after officers…</p>
                    <a href="http://www.milwaukeepolicenews.com/convicted-felon-faces-new-drug-gun-charges/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek to Identify Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-to-identify-bank-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Bank Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-bank-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Drug Dealer Arrested, Charged in Strangulation Investigation</h2>
                    <p>Alert officers from District 5 of the…</p>
                    <a href="http://www.milwaukeepolicenews.com/drug-dealer-arrested-charged-in-strangulation-investigation/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="1">
                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Music to Our Ears: Stolen Instrument Found in Burglary Suspect’s Car</h2>
                    <p>Good teamwork by officers from District 7…</p>
                    <a href="http://www.milwaukeepolicenews.com/music-to-our-ears-stolen-instrument-found-in-burglary-suspects-car/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Career Criminal Arrested for Burglary While on Probation for Previous Crimes</h2>
                    <p>District 7 officers of the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/career-criminal-arrested-for-burglary-while-on-probation-for-previous-crimes/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>District 5 Officers Arrest Felon for Carrying Firearm</h2>
                    <p>A felon armed with a gun is…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-5-officers-arrest-felon-for-carrying-firearm/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Seek to Identify Shooting Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-seek-to-identify-shooting-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="1">

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Two Armed Robbery Suspects</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-two-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>Craigslist, Cash, and Cocaine: Cops ‘Cuff a Couple of Crooks</h2>
                    <p>Officers from Districts 5 and 7 of…</p>
                    <a href="http://www.milwaukeepolicenews.com/craigslist-cash-and-cocaine-cops-cuff-a-couple-of-crooks/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">7 MONTHS AGO</em>
                    </header>
                    <h2>District 5 Officers Arrest Burglary Suspect Minutes After Crime</h2>
                    <p>Alert officers from District 5 of the…</p>
                    <a href="http://www.milwaukeepolicenews.com/district-5-officers-arrest-burglary-suspect-minutes-after-crime/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>Second Suspect Charged in Concertina Bar Shooting</h2>
                    <p>A second suspect has been charged in…</p>
                    <a href="http://www.milwaukeepolicenews.com/second-suspect-charged-in-concertina-bar-shooting/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="1">
                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>MPD District 7 Officers Seize Drugs, Guns, Money</h2>
                    <p>Drugs, guns, and a large sum of…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-district-7-officers-seize-drugs-guns-money/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Reports Homicide Total for 2013</h2>
                    <p>Milwaukee reported 105 homicides in 2013 compared…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-reports-homicide-total-for-2013/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>MPD Uses New Public Service Announcements on Non-Emergency Line</h2>
                    <p>Citizens calling in to the Milwaukee Police…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-uses-new-public-service-announcements-on-non-emergency-line/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks to Identify Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-to-identify-armed-robbery-suspect/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div></div><div class="col" data-month="1">

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>Milwaukee Police Search for Armed Robbery Suspect</h2>
                    <p>Milwaukee Police are asking the public to…</p>
                    <a href="http://www.milwaukeepolicenews.com/milwaukee-police-search-for-armed-robbery-suspect-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>Cold Car or No Car? – MPD Warns Drivers Who Leave Cars Running Unattended</h2>
                    <p>With Milwaukee facing near-record low temperatures today…</p>
                    <a href="http://www.milwaukeepolicenews.com/cold-car-or-no-car-mpd-warns-drivers-who-leave-cars-running-unattended/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>MPD Searches for Armed Robbery Suspect</h2>
                    <p>The Milwaukee Police Department is searching for…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-searches-for-armed-robbery-suspect-2/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>MPD Seeks to Identify Attempted Armed Robbery Suspects</h2>
                    <p>The Milwaukee Police Department is looking for…</p>
                    <a href="http://www.milwaukeepolicenews.com/mpd-seeks-to-identify-attempted-armed-robbery-suspects/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>

                  <div class="overlay">&nbsp;</div></div></div><div class="col-holder"><div class="col" data-month="1">
                  <article>
                    <header>
                      <em class="date">8 MONTHS AGO</em>
                    </header>
                    <h2>Officer Arrests Intoxicated Suspect for Pointing and Aiming Gun</h2>
                    <p><span style="color: #000000;">A Milwaukee Police officer diffuses…</span></p>
                    <a href="http://www.milwaukeepolicenews.com/officer-arrests-intoxicated-suspect-for-pointing-and-aiming-gun/?ajax=1" class="link open-article" data-section="source-page">&nbsp;</a>
                  </article>
                  <div class="overlay">&nbsp;</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>



      <!-- This is where the left column starts -->
      <aside class="aside">
        <div class="aside-content">
          <div class="holder">
            <h1>THE <br>SOURCE</h1>
            <p>We created The Source to give you the genuine, unfiltered information from us - from the latest crime stats to a hard-hitting story about an officer's work that you won't see anywhere else. We'll correct the news stories that got it wrong, and we'll highlight the ones that got it right. Most importantly, we'll create our own content, so you can see what the Milwaukee Police Department is really accomplishing in the community.</p>
            <section class="widget archive-widget">
              <h2>LATEST HEADLINES</h2>
              <ul><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" data-year="2014" class="opener" data-month="1">2014<span class="overlay-box" style="opacity: 0;">2014</span></a><ul class="news-list"><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="1">Jan</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="2">Feb</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="3">Mar</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="4">Apr</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="5">May</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="6">Jun</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="7">Jul</a></li><li><a href="http://www.milwaukeepolicenews.com/2014/?ajax=1" class="link ajax-popup" data-year="2014" data-month="8">Aug</a></li></ul></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" data-year="2013" class="opener" data-month="1">2013<span class="overlay-box" style="opacity: 0;">2013</span></a><ul class="news-list"><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="1">Jan</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="2">Feb</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="3">Mar</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="4">Apr</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="5">May</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="6">Jun</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="7">Jul</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="8">Aug</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="9">Sep</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="10">Oct</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="11">Nov</a></li><li><a href="http://www.milwaukeepolicenews.com/2013/?ajax=1" class="link ajax-popup" data-year="2013" data-month="12">Dec</a></li></ul></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" data-year="2012" class="opener" data-month="1">2012<span class="overlay-box" style="opacity: 0;">2012</span></a><ul class="news-list"><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="4">Apr</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="5">May</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="6">Jun</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="7">Jul</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="8">Aug</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="9">Sep</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="10">Oct</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="11">Nov</a></li><li><a href="http://www.milwaukeepolicenews.com/2012/?ajax=1" class="link ajax-popup" data-year="2012" data-month="12">Dec</a></li></ul></li></ul>         </section>
            </div>
            <div class="news-area ajax-holder">
              <div class="news-holder ajax-content"></div>
            </div>
          </div>
          <a href="#" class="prev disabled"><span class="overlay-box" style="opacity: 0; display: none;">prev</span></a>
          <a href="#" class="next"><span class="overlay-box" style="opacity: 0; display: none;">next</span></a>   
        </aside>
      </div>
    </div>
  </div>