<div id="ObligationModal" class='modal fade' tabindex="-1" style="display: none;">
  <div>
    <h3>Event</h3><button type='button' class="button_close btn btn-xs" data-type='ObligationModal'>Close</button>
  </div>

  <div id='obligationbody' class="modal-body">
  </div>
</div>