<div id="ObligationModal" class='modal fade' tabindex="-1" style="display: none;">
  <div>
    <h3>Event</h3><button type='button' class="button_closeObligation btn btn-xs" data-type='ObligationModal'>Close</button>
    <% if current_user %>
    <% if can? :delete, Event %>
       <button type='button' class="eventDelete btn btn-danger btn-xs" data-type='EventModal'><i class='fa fa-exclamation'></i> Delete Event</button>
    <% end %>
  <% end %>

  </div>

  <div id='obligationbody' class="modal-body"></div>
  <hr>
  <div class='swapobligation'>
    <p>If you can't make your commitment you may propose a swap with someone else</p>
    <p>However, the swap will not take place until someone else has taken over the commitment</p>
    <p>If your name is no longer on the calendar for that day, and another name is present the event has been succesfully swapped.</p>
    <p>You can also confirm this on your profile page</p>
  </div>
  
</div>