<body id='eventcalpage' class='navbar-help'>
  <div class='homeimagenav'><%= link_to image_tag("uueecwhite.png", size: "150x150"), root_path %></div>
  <div id='eventpagewrapper'>
    <div id='eventflower'></div>
    <div id='upcomingevents'>
      <h1>Upcoming Events</h1>
    </div>
    <div id='eventcalendarwrapper'>
      <% if current_user %>
        <% if can? :create, Event %>
          <br><%= link_to 'Add Event', new_event_path, id: 'addeventbutton', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <div id='calendarEvents'></div>
    </div>
  </div>
  <%= render partial: 'events/partials/view_event' %>
  <% if current_user %>
    <% if can? :delete, Event %>
      <span id='hiddenUserEvents' style='visibility: hidden'><%= current_user.id %></span>
    <% end %>
  <% end %>
</body>
