<br><%= link_to 'New Event', new_event_path %><br>
<%= link_to 'Home page', root_path %><br><br>


<div id='calendarEvents'></div>
<%= render partial: 'events/partials/view_event' %>

<% if can? :delete, Event %>
  <span id='hiddenUserEvents' type='hidden'><%= current_user.id %></span>
<% end %>