#blogspage {
  position: relative;
  top: -24px;
  background-color: #67C3EF;
  z-index: 1;
  padding-bottom: 30px;
}

#blogspagewrapper {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 60px;
  margin-bottom: 30px;
}

.blogindex {
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.blogswrapper {
  display: inline-block;
}

.blogwrapper {
  position: relative;
  width: 500px;
  padding: 50px;
  background-color: #FFF;
  border-radius: 12px;
  margin-bottom: 75px;
}

.blogwrapper div {
  color: #4888A7; 
}

.pagination a {
  color: #4888A7;
}

/*use below to change color of pagination cells*/
/*.pagination > .active > a {
  background-color: #4888A7 !important;
  border-color: #4888A7 !important;
}*/

/*.blogwrapper {
  position: relative;
  width: 490px;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.18);
  margin-bottom: 75px;
}*/

/*.blogwrapper:before, .blogwrapper:after
{
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.blogwrapper:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}*/

.redwaxmark {
  width: 80px;
  height: 75px;
  overflow: hidden;
  background-image: url(/assets/redwaxmark.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
  z-index: 1;
  right: -30px;
}

.flower {
  width: 1270px;
  height: 1430px;
  overflow: hidden;
  background-image: url(/assets/flower.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -87px;
  z-index: -1;
  left: -245px;
  opacity: .3;
}

.flowertwo {
  width: 538px;
  height: 575px;
  overflow: hidden;
  background-image: url(/assets/flowertwo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
  z-index: -1;
  right: -30px;
  opacity: .3;
}

.flowerthree {
  width: 538px;
  height: 575px;
  overflow: hidden;
  background-image: url(/assets/flowerthree.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
  z-index: -1;
  right: -30px;
  opacity: .3;
}


.redwaxmark div {
  position: relative;
  width: 32px;
  height: 10px;
  left: 22px;
  top: 24px;
  line-height: 14px;
  text-align: center;
  color: #FFFAFA;
  font-size: 12px;
}

.visitors {
  font-family: 'MrDeHaviland', cursive;
  font-size: 30px;
  text-align: center;
  padding-right: 10px;
  padding-left: 7px;
  float: left;
}

.visitors span {
  padding: 5px 7px;
}

.blogsmain {
  position: relative;
  top: -5px;
  width: 235px;
  height: 154px;
  margin-right: 10px;
}

.blogwrapper a {
  text-decoration: none !important;
}

.blogsmain h3 {
  margin-top: 0;
  margin-bottom: 2px;
  height: 30px;
}

.overflowbody {
  overflow: hidden;
}

.overflowtext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.default_image {
  width: 145px;
  height: 150px;
  background-color: rgba(128, 128, 128, 0.44);
  border-radius: 4px;
}

.default_image i {
  font-size: 125px;
  color: #FFF;
  padding: 14px 5px;
}

.addswrapper {
  position: relative;
  top: 119px;
  margin-left: 63px;
  color: #4888A7;
}

.blogadds {
  width: 327px;
  background-color: #FFF;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 30px 35px;
}

.blogadds h4 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

#addevents h5, #addevents p {
  padding-left: 45px;
  line-height: 12px;
}

#addlinks p {
  padding-left: 35px;
}

#addevents {
  min-height: 200px;
}

#addlinks {
  min-height: 200px;
}

#addlinks a {
  color: #4888A7;
}

#addevents .fa-bullhorn {
  position: absolute;
  left: 25px;
  font-size: 48px;
  top: 41px;
}

#addlinks .fa-link {
  position: absolute;
  left: 32px;
  font-size: 40px;
  top: 271px;
}

#addevents .fa-clock-o {
  margin-right: 7px;
}

