#eventcalpage {
  position: relative;
  top: -24px;
  background-color: #45AD72;
  z-index: 1;
  padding-bottom: 30px;
}

#eventimagewrapper {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 60px;
  margin-bottom: 30px;
}

.eventimage {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #FFF;
  width: 250px;
  height: 250px;
  padding: 15px;
}

.eventimage img {
  border-radius: 4px;
  vertical-align: top;
}

#EventModal {
  display: inline-block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
  width: 400px;
  height: auto;
  padding: 20px;
}

#eventbody {
  opacity: .9;
  color: #2d2e2e;
}

.eventtitle {
  font-family: 'MrDeHaviland', cursive;
  font-size: 52px;
  text-align: center;
  padding-right: 10px;
}

.eventtitle hr {
  margin-top: -23px;
}

#EventModal span {
  font-size: 16px;
}

#EventModal hr {
  border-top: 1px solid #000;
  opacity: .3;
}

#EventModal p {
  text-align: center;
  z-index: 2;
}

#modaltitleicon {
  font-size: 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  opacity: .4;
}

.calendarmodalclose {
  position: relative;
  float: right;
  z-index: 1;
}

.modaldivcolor {
  background-color: #A1B7C1;
  border-radius: 4px;
  padding: 5px;
}

#eventcalendarwrapper {
  position: relative;
  width: 1100px;
  border-radius: 4px;
/*  border: 1px solid #FFF;
*/  padding: 20px;
  background-color: none;
/*  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
*/  z-index: 90;
  top: 55px;
  color: #FFF;
  margin-right: auto;
  margin-left: auto;
}

#upcomingevents {
  position: relative;
  top: 45px;
  text-align: center;
  color: #FFF;
  letter-spacing: 1px;
  z-index: 30;
}

#upcomingevents h1 {
  font-size: 80px;
}

#calendarEvents {
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
}

#calendarEvents .fc-content {
  font-size: 20px;
}

#calendarEvents .fc-header-right {
  font-size: 20px;
  position: relative;
  top: 7px;
}

#calendarEvents .fc-header {
  margin-bottom: 18px;
}

/*buttons*/
#calendarEvents .fc-state-default {
  background-color: #62F3A1;
  background-image: none;
  text-shadow: none;
  color: #FFF;
  font-weight: 400;
}

#calendarEvents h2, #calendarEvents th {
  font-weight: 200;
}

#calendarEvents .fc-event-time {
  display: none;
}

#calendarEvents .fc-state-highlight {
  background-color: rgba(218, 183, 143, 0.43);
  border-radius: 4px;
}

#calendarEvents .fc-event {
  border: 1px solid #BF8A4D;
  background-color: #BF8A4D;
  padding: 4px;
}

#eventpagewrapper {
  position: relative;
  top: -70px;
  background-color: none;
  height: 1500px;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
}

#eventpagewrapper h2 {
  font-size: 45px;
  font-weight: 400;
}

.ribbon-wrapper-green {
  width: 164px;
  height: 198px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -5px;
}

.ribbon-green {
  font: bold 13px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -13px;
  top: 36px;
  width: 229px;
  height: 53px;
  z-index: 500;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green p {
  margin: 0 0 6px;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #797979;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/*.horzscrollone {
  width: 350px;
  height: 60px;
  position: relative;
  left: -16px;
  top: -19px;
  overflow: hidden;
  background-image: url(/assets/scrollone.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .4;
}*/

table {
  border-radius: 4px;
}

.fc-widget-header, .fc-widget-content {
border: none;
}

#eventflower {
  width: 1194px;
  height: 1430px;
  overflow: hidden;
  background-image: url(/assets/flowerthree.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -75px;
  z-index: -1;
  left: -48px;
  opacity: .2;
}

#addeventbutton {
  float: right;
  position: relative;
  left: -229px;
  top: 43px;
  z-index: 2;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger  {
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

