/* global reset */
* { 
  margin:0; 
  padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset, p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center, h1, h2, h3, h4, h5, h6, b, strong, big, u, ins, i, cite, em, var, dfn, address, s, strike, del, dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt, fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,video{
  border:0;
  background:none;
}
::selection      { background:#D0D0D0; /* Safari and Opera */ }
::-moz-selection  { background:#D0D0D0; /* Firefox */ }
html,
body{
  height:100%;
  overflow:hidden;
  width:100%;
  position:relative;
  min-width:1000px;
}
body{
  color:#000;
  font:11px/14px Helvetica, Arial, sans-serif;
  min-width:1000px;
  background:transparent;
}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}
input, textarea, select {
  font:100% arial,sans-serif;
  vertical-align:middle;
  color:#000;
  overflow: auto;
}
label{vertical-align:middle;}
button, input{
  width: auto;
  overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
  border-collapse: collapse;
  border-spacing: 0;
}
th, td{
  border:1px solid #ccc;
  padding:3px 7px;
  text-align:left;
  vertical-align:top;
}
th{
  border-color:#999;
  text-align:center;
  vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
header, footer, article, section, hgroup, nav, figure { display: block; }
input[type=submit]:hover{cursor:pointer;}
:-moz-placeholder { color:#4c4c4c;}
::-webkit-input-placeholder {color: #4c4c4c;}
/* global settings */
#nojavascript {
  position: absolute;
  width: 100%;
  background: #000 url(../images/icon-warning.jpg) no-repeat 10px 17px;
  color: #FFF;
  padding: 17px 15px 0 42px;
  z-index: 10000;
}

#nojavascript span { font-weight: bold; color: #ff0000; }
.nojs-overlay {
  position: absolute; 
  z-index: 9999; 
  width: 100%; 
  height: 10000px; 
  background-color: #000;
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#wrapper{
  height:100%;
  overflow:auto;
  position:relative;
  width:100%;
}
#w1{
  overflow:hidden;
}
.page{
  width:100%;
  height:1200px;
  position:relative;
}
.bg{
  position:absolute;
  overflow:hidden;
  text-indent:-9999px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.bg-moto{
  background:url(../images/bg-motorbike.png) no-repeat;
  width:233px;
  height:153px;
}
.bg-car{
  background:url(../images/bg-car.png) no-repeat;
  width:652px;
  height:249px;
}
.bg-truck-men{
  background:url(../images/bg-truck-men.png) no-repeat;
  width:842px;
  height:517px;
}
.bg-motocycles{
  background:url(../images/bg-motorcycles.png) center center no-repeat;
  width:1755px;
  height:926px;
}
#home-page .wrapper{background:url(../images/bg-page01.jpg) no-repeat 50% 1300px fixed;}
.wrapper{
  width:100%;
  height:100%;
  display:table;
}
.w1{
  display:table-cell;
  vertical-align:middle;
  width:100%;
}
.w2{
  z-index:10
}
#home-page .w2{
  background:url(../images/bg-white.png);
  position:relative;
  margin-top:-302px;
}
.logo{
  position:fixed;
  z-index:99999;
  top:100px;
  left:0;
}
.logo .logo-holder{
  position:relative;
  width:126px;
  height:162px;
  position:relative;
  overflow:hidden;
}
.logo span{
  position:absolute;
  top:0;
  left:0;
  background:url(../images/bg-global.png) no-repeat;
  width: 126px;
  height: 162px;
  text-indent:-9999px;
  overflow:hidden;
}
.logo em{
  display:none;
  position:absolute;
  top:0;
  left:0;
  background:url(../images/bg-global.png) no-repeat 0 -323px;
  width: 126px;
  height: 162px;
  text-indent:-9999px;
  overflow:hidden;
}
.logo a{
  height:100%;
  display:block;
}
#nav{
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  z-index:99999;
}
#nav div{
  width:90px;
  position:relative;
  margin:0;
}
#nav ul{
  margin:0;
  position:relative;
  width:100%;
  font:bold 10px/14px Helvetica, Arial, sans-serif;
}
#nav ul li{
  float:left;
  margin:0 0 -1px;
  width:100%;
  background:#e6e6e6 url(../images/sep01.png) repeat-x;
  list-style:none outside none;
  position:relative;
}
#nav ul li:first-child{background:#e6e6e6;}
#nav a{
  display:block;
  color:#404040;
  text-align:center;
  padding:4px;
  position:relative;
}
#nav .img-holder{
  display:block;
  overflow:hidden;
  width:100%;
  position:relative;
}
#nav a span{
  cursor:pointer;
  display:block;
  padding:6px 0 7px;
}
#nav a .overlay-box{
  position:absolute;
  bottom:0;
  left:0;
  width:90px;
  background:#343434;
  color:#fff;
  z-index:2;
  display:none;
  font-style:normal;
  height:35px;
  line-height:34px;
  cursor:pointer;
  overflow:hidden;
}
#nav li:hover,
#nav li.active,
#nav li.hover-item{z-index:5;}
#nav li.active a,
#nav li.hover-item a{height:auto;}
#nav a:hover{text-decoration:none;}
#nav li a em{cursor:pointer;}
#nav .active a,
#nav .hover-item a{
  color:#fff;
  background: rgb(89,89,89);
  background: -moz-linear-gradient(top,  rgba(89,89,89,1) 0%, rgba(70,70,70,1) 32%, rgba(47,47,47,1) 72%, rgba(1,1,1,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(32%,rgba(70,70,70,1)), color-stop(72%,rgba(47,47,47,1)), color-stop(100%,rgba(1,1,1,1)));
  background: -webkit-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(70,70,70,1) 32%,rgba(47,47,47,1) 72%,rgba(1,1,1,1) 100%);
  background: -o-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(70,70,70,1) 32%,rgba(47,47,47,1) 72%,rgba(1,1,1,1) 100%);
  background: -ms-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(70,70,70,1) 32%,rgba(47,47,47,1) 72%,rgba(1,1,1,1) 100%);
  background: linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(70,70,70,1) 32%,rgba(47,47,47,1) 72%,rgba(1,1,1,1) 100%);
}
#nav li img{display:none;}
#nav li.active img{
display:block;
margin:0 auto;
}
#nav li.active .overlay-box{display:none !important;}
.content{
  width:744px;
  margin:0 auto;
}
.content:after{
  clear:both;
  content:"";
  display:block;
}
.post{
  overflow:hidden;
  border-top:1px solid #000;
  margin-bottom:17px;
}
.post header{
  overflow:hidden;
  margin-bottom:6px;
}
.category{
  float:right;
  font:bold 10px/16px Helvetica, Arial, sans-serif;
  color:#fff;
  text-transform:uppercase;
  padding:0 12px 2px;
  background:#000;
}
.category a{color:#fff;}
.post .date{
  float:left;
  padding-top:5px;
  font:bold 12px/18px Helvetica, Arial, sans-serif;
}
.post h1{
  text-transform:uppercase;
  font:bold 60px/60px Helvetica, Arial, sans-serif;
  padding:0 0 7px;
  vertical-align:baseline;
  margin:0;
}
.post h1 a:hover{text-decoration:none;}
.post .more{
  float:left;
  color:#404040;
  text-transform:uppercase;
  font:bold 12px/33px Helvetica, Arial, sans-serif;
  padding:0 17px;
  background:#e6e6e6;
  position:relative;
  text-align:center;
}
.post .more:hover{text-decoration:none;}
.post .more .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  z-index:2;
  display:none;
  cursor:pointer;
}
.feat-posts{
  width:110%;
  margin:0 -10% 0 0;
  overflow:hidden;
}
.feat-posts .post{
  float:left;
  width:238px;
  padding-bottom:15px;
  margin:0 15px 0 0;
  border-bottom:1px solid #000;
}
.feat-posts .post header{margin-bottom:14px;}
.feat-posts .holder{
  position:relative;
  overflow:hidden;
  height:153px;
}
.feat-posts img{vertical-align:top;}
.feat-posts .descr{
  background:url(../images/bg-black.png);
  color:#fff;
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-transform:uppercase;
  padding:0 20px;
}
.feat-posts .descr a{color:#fff;}
.feat-posts h2{
  margin:0;
  display:table;
  height:153px;
  width:100%;
  font:bold 20px/20px Helvetica, Arial, sans-serif;
}
.feat-posts h2 a:hover{text-decoration:none;}
.feat-posts h2 span{
  display:table-cell;
  vertical-align:middle;
}
*+html .feat-posts h2 span{display:block;}
/* most wanted page */
.section-bg{
  /*background-attachment: fixed !important;*/
  width:100%;
  position:relative;
  height:1200px;
  float:left;
}
#most-wanted-page .section-bg{background:#050505 url(../images/bg-page02.jpg) no-repeat 50% 0;}
.bg-officer{
  background:url(../images/bg-officer.png) no-repeat 0 138px;
  /*
  width: 866px;
  margin:0 0 0 -19px;
  */
  z-index:5
}
#most-wanted-page .w2{
  position:relative;
  margin-top:-230px;
}
#most-wanted-page .wrapper{
  position:relative;
  z-index:20;
}
.mw-section{
  background:#fff;
  overflow:hidden;
  padding:39px 52px 48px;
  margin-top: 4px;
}
.mw-section h1{
  margin:0 0 6px -4px;
  letter-spacing:-3px;
  vertical-align:baseline;
  font:bold 89px/86px Helvetica, Arial, sans-serif;
}
.mw-section .holder{
  overflow:hidden;
  font-size:12px;
  word-spacing:-1px;
  margin-bottom:17px;
}
.mw-section .more{
  float:right;
  width:118px;
  margin:0 0 0 6px;
  color:#404040;
  text-transform:uppercase;
  font:bold 12px/33px Helvetica, Arial, sans-serif;
  padding:0 5px;
  text-align:center;
  background:#e6e6e6;
  overflow:hidden;
  position:relative;
  height:33px;
}
.mw-section .more:hover{text-decoration:none;}
.mw-section .more .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  z-index:2;
  display:none;
  cursor:pointer;
}
.mw-section .descr{
  overflow:hidden;
  padding-top:1px;
}
.mw-section p{margin:0;}
.mw-holder{
  width:100%;
  position:relative;
  overflow:hidden;
}
.mw-holder .popup-area{
  position:absolute;
  top:0;
  left:-640px;
  z-index:3;
  width:640px;
  height:309px;
  background:#000;
  display:none;
}
.mw-list{
  width:105%;
  overflow:hidden;
  margin:0 -5% 0 0;
}
.mw-list li{
  display:inline-block;
  position:relative;
  margin:0 -1px 2px 0;
  vertical-align:top;
  list-style:none outside none;
}
*+html .mw-list li{
  display:inline;
  margin-right:2px;
}
.mw-list span{
  display:none;
  position:absolute;
  background:url(../images/bg-global.png) no-repeat -134px 0;
  overflow:hidden;
  text-indent:-9999px;
  bottom:0;
  right:0;
  width:25px;
  height:25px;
}
.mw-list li:hover span{display:block;}
.mw-list img{vertical-align:top;}
.mw-lightbox{
  width:600px;
  padding:40px 40px 39px 0;
  overflow:hidden;
  position:relative;
  background:#000;
  color:#fff;
}
.mw-lightbox .alignleft{
  float:left;
  margin:-40px 40px -39px 0;
}
.close-link{
  position:absolute;
  top:0;
  background:url(../images/bg-global.png) no-repeat -139px -35px;
  right:0;
  width:20px;
  height:20px;
  overflow:hidden;
  text-indent:-9999px;
  z-index:5;
}
.mw-lightbox .descr{
  overflow:hidden;
  padding:0 0 1px;
}
.mw-lightbox .note,
.mw-lightbox .row{
  overflow:hidden;
  border:solid #fff;
  position:relative;
  border-width:1px 0;
  margin-bottom:-1px;
}
.mw-lightbox .ttl{
  position:absolute;
  top:0;
  left:0;
  font:9px/11px Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  color:#000;
  padding:0 5px;
  background:#fff;
}
.mw-lightbox .row div{
  float:left;
  padding:14px 5px 5px 0;
  position:relative;
}
.mw-lightbox .row strong{
  display:block;
  font:bold 13px/15px Helvetica, Arial, sans-serif;
}
.mw-lightbox .row .col01{
  width:240px;
  border-right:1px solid #fff;
}
.mw-lightbox .row .col02{
  width:54px;
  padding-left:8px;
}
.mw-lightbox .row .col03{
  width:98px;
  border-right:1px solid #fff;
}
.mw-lightbox .row .col04{
  width:196px;
  padding-left:8px;
}
.mw-lightbox .row .col05{
  width:91px;
  border-right:1px solid #fff;
  padding-left:8px;
}
.mw-lightbox .row .col06{
  width:91px;
  padding-left:8px;
}
.mw-lightbox .row .col07{width:308px;}
.mw-lightbox .note{
  padding:20px 0 14px;
  line-height:12px;
  min-height:46px;
}
.mw-lightbox p{margin:0;}
.mw-lightbox a{color:#fff;}
.mw-lightbox .scrollable-area{
  height:54px;
  overflow:auto;
}
.mw-lightbox .scrollable-area a{
  text-decoration: underline;
}

.mw-lightbox .scrollable-area p{margin:0 0 6px;}
/* about page */
#about-page{
  font-size:13px;
  background:#fff url(../images/bg-page03.jpg) no-repeat 50% 100%;
  line-height:15px;
}
#about-page .w2{
  margin-top:-340px;
  position:relative;
}
#about-page h1{
  margin:0 0 -2px;
  text-transform:uppercase;
  vertical-align:baseline;
  font:bold 124px/124px Helvetica, Arial, sans-serif;
  letter-spacing:-3px;
}
}
#about-page p{margin:0 0 14px;}
#about-page p strong a{text-decoration:underline;}
#about-page p strong a:hover{text-decoration:none;}
#about-page .tooltip p{margin:0;}
#about-page .text-box{width:100%;}
.timeline{
  position:relative;
  width:745px;
  height:23px;
  margin:0 0 35px;
  line-height:14px;
  font-size:12px;
  background:url(../images/bg-global.png) no-repeat 0 -170px;
}
.timeline:after{
  clear:both;
  content:"";
  display:block;
}
.timeline .year-link{
  display:block;
  width:27px;
  padding:28px 0 0;
  color:#808080;
  font:bold 10px/12px Helvetica, Arial, sans-serif;
  text-align:center;
  background:url(../images/bg-global.png) no-repeat -211px 0;
  position:relative;
}
.timeline .year:hover .year-link{
  text-decoration:none;
}
.timeline .year-link .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:27px;
  height:28px;
  background:url(../images/bg-global.png) no-repeat -174px 0;
  z-index:2;
  display:none;
  cursor:pointer;
}
.year{
  position:absolute;
  top:0;
  width:27px;
}
/* 
.year-1855{left:30px;}
.year-1856{left:67px;}
.year-1861{left:107px;}
.year-1888{left:183px;}
.year-1889{left:212px;}
.year-1917{left:288px;}
.year-1924{left:354px;}
.year-1975{left:521px;}
.year-1990{left:585px;}
.year-2007{left:691px;}
 */

.year-1855  {left:10px;}
.year-1910  {left:90px;}
.year-1924  {left:150px;}
.year-1929  {left:190px;}
.year-1957  {left:250px;}
.year-1967  {left:292px;}
.year-1975  {left:340px;}
.year-1990  {left:400px;}
.year-1996  {left:440px;}
.year-2003  {left:500px;}
.year-2005  {left:550px;}
.year-2008  {left:620px;}
.year-2008-2{left:650px;}
.year-2012  {left:708px;}



.tooltip{
  width:213px;
  display:none;
  font-size:12px;
  background:url(../images/bg-tooltip.png) no-repeat -223px 0;
  padding-top:12px;
  overflow:hidden;
  position:absolute;
  bottom:36px;
  left:-94px;
}
.tooltip .holder{
  background:url(../images/bg-tooltip.png) no-repeat -446px 100%;
  overflow:hidden;
  padding-bottom:25px;
}
.tooltip .frame{
  overflow:hidden;
  background:url(../images/bg-tooltip.png) repeat-y;
  color:#fff;
  padding:10px 15px 15px 20px;
}
.faq{
  overflow:hidden;
  margin-bottom:49px;
}
.faq header{
  overflow:hidden;
  margin-bottom:14px;
  border-top:1px solid #000;
}
.faq .category{padding:0 17px 2px}
.faq ul{
  width:105%;
  margin:0 -5% 0 0;
  overflow:hidden;
  font:bold 12px/14px Helvetica, Arial, sans-serif;
}
.faq li{
  display:inline-block;
  width:360px;
  list-style:none outside none;
  margin:0 23px 9px 0;l
  vertical-align:top;
}
*+html .faq li{
  display:inline;
  margin-right:26px;
}
.faq li a{
  display:block;
  padding:9px 30px 9px 13px;
  background:#e6e6e6 url(../images/arrow01.png) no-repeat 100% -91px;
  position:relative;
}
.faq li a:hover{text-decoration:none;}
.faq li a .overlay-box{
  position:absolute;
  top:0;
  left:0;
  background:#000 url(../images/arrow01.png) no-repeat 100% 0;
  z-index:2;
  width:317px;
  height:100%;
  display:none;
  color:#fff;
  padding:9px 30px 9px 13px;
  height:14px;
  cursor:pointer;
}
#about-page .more{
  float:left;
  color:#404040;
  letter-spacing:1px;
  text-transform:uppercase;
  font:bold 12px/33px Helvetica, Arial, sans-serif;
  padding:0 20px;
  background:#e6e6e6;
  position:relative;
  text-align:center;
  height:33px;
  overflow:hidden;
}
#about-page .more:hover{text-decoration:none;}
#about-page .more .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  z-index:2;
  display:none;
  cursor:pointer;
}
.bg-car01{
  background:url(../images/bg-car01.png) no-repeat 0 850px;
}
.bg-truck{
  background:url(../images/bg-truck.png) no-repeat 0 700px;
}
/* heroes page */
#heroes-page .section-bg{background:#6f9899 url(../images/bg-page04.jpg) no-repeat;}
.bg-chief{
  background:url(../images/bg-chief.png) no-repeat 0 391px;
  z-index:5
}
.tabset-holder{
  overflow:hidden;
  position:relative;
  z-index:1000;
}
.tabset{
  float:right;
  margin:0;
  font:bold 14px/42px Helvetica, Arial, sans-serif;
  text-transform:uppercase;
}
.tabset li{
  margin:0 0 0 1px;
  list-style:none outside none;
  float:left;
}
.tabset a{
  float:left;
  text-align:center;
  min-width:153px;
  padding:0 10px;
  color:#fff;
  background:#404040;
  position:relative;
}
.tabset a:hover{text-decoration:none;}
.tabset a.active{
  background:#fff;
  color:#000;
}
.tabset a .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#fff;
  color:#000;
  z-index:2;
  display:none;
  cursor:pointer;
}
.tabs-area{
  width:100%;
  position:relative;
  height:620px;
}
.tab-content{
  background:#fff;
  padding:38px 30px 49px 49px;
  min-height:453px;
  position:absolute;
  top:0;
  right:0;
  width:665px;
}
.tab-content header{
  position:relative;
  z-index:10;
  word-spacing:-1px;
  font-size:13px;
  line-height:15px;
}
.tab-content header p{margin:0 0 14px;}
.tab-content h1{
  margin:0 0 -1px -6px;
  text-transform:uppercase;
  vertical-align:baseline;
  letter-spacing:-2px;
  font:bold 101px/98px Helvetica, Arial, sans-serif;
}
.carousel,
.carousel2{
  width:100%;
  position:relative;
  z-index:15;
}
.carousel .block-popup,
.carousel2 .block-popup{
  position:absolute;
  width:645px;
  overflow:hidden;
  z-index:11;
}
.carousel2 .block-popup{
  top:4px;
  width:646px;
}
.carousel .popup-area,
.carousel2 .popup-area{
  position:relative;
  /*left:-645px;*/
  width:645px;
  height:326px;
  background:#000;
  z-index:6;
  display:none;
}
.carousel2 .popup-area{
  height:295px;
  background: #f2f2f2;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#ccc));
  background: -webkit-linear-gradient(#f2f2f2, #ccc);
  background: -moz-linear-gradient(#f2f2f2, #ccc);
  background: -ms-linear-gradient(#f2f2f2, #ccc);
  background: -o-linear-gradient(#f2f2f2, #ccc);
  background: linear-gradient(#f2f2f2, #ccc);
}
.carousel .carousel-frame{
  width:100%;
  position:relative;
  overflow:hidden;
  background:#fff;
}
.carousel .slider{
  float:left;
  width:99999px;
}
.tab-content .holder{
  width:654px;
  position:relative;
  overflow:hidden;
}
.tab-content .holder:after{
  clear:both;
  content:"";
  display:block;
}
.article{
  border:1px solid #d9d9d9;
  float:left;
  width:163px;
  margin:0 9px 0 0;
  padding:24px 20px 18px 24px;
  min-height:282px;
}
.article .frame{
  position:relative;
  z-index:5;
  padding-bottom:9px;
}
.popup-inside.active .article .frame{z-index:2;}
.tab-content h2{
  margin:0 0 11px;
  font:bold 16px/16px Helvetica, Arial, sans-serif;
}
.tab-content p{margin:0;}
.article .descr{position:relative;}
.article .add{
  position:absolute;
  background:url(../images/bg-add.png) repeat-x;
  bottom:-47px;
  left:0;
  width:163px;
  height: 93px;
}
.article .area{
  height:216px;
  overflow:hidden;
}
.article .more{
  float:left;
  color:#404040;
  text-transform:uppercase;
  font:bold 10px/23px Helvetica, Arial, sans-serif;
  padding:0 16px;
  background:#e6e6e6;
  z-index:5;
  margin-top:6px;
  position:relative;
  height:23px;
  overflow:hidden;
  text-align:center;
}
.article .more:hover{text-decoration:none;}
.article .more .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  z-index:2;
  display:none;
  cursor:pointer;
}
#heroes-page .w2{
  padding-bottom:92px;
  margin-top:-16px;
}
.pager{
  position:absolute;
  bottom:-92px;
  right:-30px;
  z-index:10;
  width:665px;
}
.carousel2 .pager{bottom:-91px;}
* +html .carousel2 .pager{bottom:-96px;}
.pager div{float:right;}
.pager em{
  background:#000;
  color:#fff;
  float:left;
  text-align:center;
  min-width:32px;
  padding:0 5px;
  font:bold 14px/42px Helvetica, Arial, sans-serif;
}
.pager a{
  margin:0 0 0 1px;
  background:url(../images/bg-global.png) no-repeat;
  width:42px;
  height:42px;
  overflow:hidden;
  text-indent:-9999px;
  float:left;
  position:relative;
}
.pager a.disabled .overlay-box{display:none !important;}
.pager .prev{background-position:-496px -52px;}
.pager .next{background-position:-539px -52px;}
.pager .prev.disabled{background-position:0 -271px;}
.pager .next.disabled{background-position:-52px -271px;}
.pager .prev .overlay-box,
.pager .next .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  background:url(../images/bg-global.png) no-repeat -496px 0;
  cursor:pointer;
}
.pager .next .overlay-box{background-position:-539px 0;}
.heroes-list{
  width:9999px;
  overflow:hidden;
  margin:0;
}
.heroes-list li{
  float:left;
  width:654px;
  padding-top:3px;
  list-style:none;
  margin:0;
}
.heroes-list ul{
  width:654px;
  overflow:hidden;
  padding-top:2px;
  margin:0;
}
.heroes-list ul li{
  float:left;
  margin:0 2px 0 0;
  padding:0 0 5px;
  width:212px;
}
.heroes-list a{
  display:block;
  width:134px;
  position:relative;
  z-index:10;
  padding:7px 20px 10px 58px;
  background: #f2f2f2;
  font-size:12px;
  line-height:14px;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#ccc));
  background: -webkit-linear-gradient(#f2f2f2, #ccc);
  background: -moz-linear-gradient(#f2f2f2, #ccc);
  background: -ms-linear-gradient(#f2f2f2, #ccc);
  background: -o-linear-gradient(#f2f2f2, #ccc);
  background: linear-gradient(#f2f2f2, #ccc);
}
.popup-inside.active .heroes-list a{z-index:2;}
.heroes-list a span{
  position:absolute;
  overflow:hidden;
  text-indent:-9999px;
  cursor:pointer;
  background:url(../images/bg-global.png) no-repeat;
}
.heroes-list .ribbon{
  top:-1px;
  left:-1px;
  width:44px;
  height:47px;
  background-position:-496px -104px;
}
.heroes-list .plus{
  width:16px;
  height:16px;
  bottom:0;
  right:0;
  background-position:-134px -144px;
}
.heroes-list a em{
  display:block;
  cursor:pointer;
  font-style:normal;
}
.heroes-list a strong{
  display:block;
  cursor:pointer;
}
.heroes-list a:hover{
  text-decoration:none;
  color:#fff;
  background: #808080;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#808080), to(#343434));
  background: -webkit-linear-gradient(#808080, #343434);
  background: -moz-linear-gradient(#808080, #343434);
  background: -ms-linear-gradient(#808080, #343434);
  background: -o-linear-gradient(#808080, #343434);
  background: linear-gradient(#808080, #343434);
}
.search-form{
  overflow:hidden;
  padding:5px 25px 0 0;
  position:relative;
}
.search-form form{
  margin:0;
  float:right;
  background:#333;
  padding:7px;
}
.search-form .txt{
  float:left;
  width:371px;
  background:#fff;
  border:0;
  margin:0 5px 0 0;
  padding:5px 7px;
  color:#4c4c4c;
  font:12px/14px Helvetica, Arial, sans-serif;
}
.search-form .btn-search{
  float:left;
  border:0;
  background:url(../images/bg-global.png) no-repeat -156px -135px;
  width:25px;
  height:25px;
  margin:0;
  padding:25px 0 0 25px;
  font-size:0;
  line-height:0;
}
.search-form a.clean{
  position:absolute;
  top:12px;
  right:43px;
  z-index:5;
}
.tab-content#tab-2 h1{margin-bottom:-3px;}
.heroes-lightbox{
  position:relative;
  width:487px;
  height: 215px;
  z-index:10;
  padding:40px 24px 39px 134px;
  background: #f2f2f2;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#ccc));
  background: -webkit-linear-gradient(#f2f2f2, #ccc);
  background: -moz-linear-gradient(#f2f2f2, #ccc);
  background: -ms-linear-gradient(#f2f2f2, #ccc);
  background: -o-linear-gradient(#f2f2f2, #ccc);
  background: linear-gradient(#f2f2f2, #ccc);
}
.heroes-lightbox:after{
  clear:both;
  content:"";
  display:block;
}
.heroes-lightbox h2,
.tab-content .heroes-lightbox h2{
  margin:0 0 9px;
  font:bold 16px/16px Helvetica, Arial, sans-serif;
}
.heroes-lightbox p{margin-bottom:12px;}
.heroes-lightbox .scrollable-area{
  overflow:auto;
  margin-bottom:5px;
  height:220px;
}
.socials{
  margin:0;
  padding-top:5px;
  overflow:hidden;
  width: 207px;
}
.heroes-lightbox .socials{padding-top:14px;}
.stories-lightbox .socials{padding-left:20px;}

.socials li{
  list-style:none outside none;
  float:left;
  padding:0 10px 0 0;
}
.socials img{vertical-align:top;}
.heroes-lightbox .ribbon{
  position:absolute;
  top:-1px;
  left:-1px;
  overflow:hidden;
  text-indent:-9999px;
  width:140px;
  height:152px;
  background:url(../images/bg-global.png) no-repeat -591px 0;
}
.stories-lightbox{
  border:20px solid #000;
  background:#fff;
  position:relative;
  z-index:10;
  width:585px;
  padding:30px 19px 30px 0;
}
.stories-lightbox:after{
  clear:both;
  content:"";
  display:block;
}
.stories-lightbox .close-link{
  top:-20px;
  right:-20px;
}
.stories-lightbox .alignleft{
  float:left;
  margin:-30px 0px -30px 0;
}
.stories-lightbox h2{margin-bottom:8px;}
.stories-lightbox p{margin-bottom:12px;}
.stories-lightbox .frame{
  overflow:hidden;
  height:191px;
  margin:0 0 9px;
  position:relative;
}
.stories-lightbox .add{
  position:absolute;
  background:url(../images/bg-add.png) repeat-x;
  bottom:-60px;
  left:0;
  width:550px;
  height: 104px;
}
.stories-lightbox .block{
  height:191px;
  overflow:auto;
}
/* stats page */
#stats-page .w2{margin-top:-418px;}
.slideshow{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:1200px;
  overflow:hidden;
}
.bgs{
  position:relative;
  width:100%;
  height:1200px;
  overflow:hidden;
}
.slideshow .frame{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
  max-width:3096px;
  margin:0 auto;
}
.slideshow ul{
  list-style:none;
  padding:0;
  margin:0;
  width:99999px;
  overflow:hidden;
}
.slideshow ul li{
  float:left;
  width:1900px;
  position:relative;
  height:1200px;
  max-width:3096px;
  list-style:none;
}
.slideshow ul li .item{
  width:100%;
  position:relative;
  height:1200px;
  overflow:hidden;
  max-width:3096px;
}
.bg-sky{
  background:url(../images/bg-page05.jpg) repeat-x;
  width: 2911px;
  height: 1200px;
  margin:0 0 0 -1000px;
  top:auto;
}
.bg-back-row{
  background:url(../images/bg-back-row.png) repeat-x;
  width: 2911px;
  height: 564px;
  margin:0 0 44px 74px;
  top:auto;
  left:0;
}
.bg-front-row{
  background:url(../images/bg-front-row.png) repeat-x;
  width: 3092px;
  height: 615px;
  margin:0 0 21px 180px;
  top:auto;
  left:-90px;
}
.bg-chief01{
  top:auto;
  width:397px;
  height:651px;
  background:url(../images/bg-chief01.png) no-repeat;
  margin:0 0 0 -430px;
  left:100%;
}
.gallery{
  width:620px;
  padding:0 40px;
  margin:0 auto;
  position:relative;
  z-index:10;
  border-top:1px solid #fff;
}
.gallery:after{
  clear:both;
  content:"";
  display:block;
}
.gallery .frame{
  width:620px;
  overflow:hidden;
  position:relative;
}
.gallery .frame ul{
  width:99999px;
  overflow:hidden;
  margin:0;
}
.gallery .frame li{
  float:left;
  width:620px;
  list-style:none outside none;
}
.gallery .frame img{vertical-align:top;}
.gallery footer{
  overflow:hidden;
  padding-top:3px;
  border-top:1px solid #fff;
  margin:0 -40px;
  font-size:10px;
  color:#fff;
}
.gallery footer span{float:left;}
.switcher{
  float:right;
  margin:0;
  padding-top:2px;
}
.switcher li{
  float:left;
  margin:0 0 0 1px;
  list-style:none outside none;
}
.switcher a{
  display:block;
  overflow:hidden;
  text-indent:-9999px;
  width:11px;
  height:11px;
  background:#b3b3b3;
}
.switcher .active a,
.switcher a:hover{background:#fff;}
.gallery .prev,
.gallery .next{
  position:absolute;
  top:50%;
  width:41px;
  left:-5px;
  height:64px;
  margin:-42px 0 0;
  overflow:hidden;
  text-indent:-9999px;
  outline:none;
  background:url(../images/bg-global.png) no-repeat -345px 0;
}
.gallery .next{
  left:auto;
  right:5px;
  background-position:-396px 0;
}
.gallery .prev:hover{background-position:-294px 0;}
.gallery .next:hover{background-position:-243px 0;}
/* source page */
#source-page{
  background:#fff url(../images/border01.png) repeat-y 111px 0;
  overflow:hidden;
  z-index:9999;
}
#source-page .wrapper{
  display:block;
  height:985px;
  position:relative;
  padding:132px 0 83px;
}
#source-page .w1{
  width:100%;
  z-index:1;
  height:985px;
  display:block;
  vertical-align:baseline;
}
#source-page .w2{
  border:solid #ccc;
  border-width:2px 0;
  height:766px;
}
.aside{
  position:absolute;
  top:0;
  height:945px;
  z-index:200;
  padding:255px 20px 0 31px;
  left:150px;
  margin:0;
  width:217px;
  color:#fff;
  background: #000;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333), to(#000));
  background: -webkit-linear-gradient(#333, #000);
  background: -moz-linear-gradient(#333, #000);
  background: -ms-linear-gradient(#333, #000);
  background: -o-linear-gradient(#333, #000);
  background: linear-gradient(#333, #000);
}
.aside-content{
  width:100%;
  position:relative;
}
.aside h1{
  margin:0 0 14px;
  font:bold 50px/45px Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  vertical-align:baseline;
}
.aside p{margin:0 0 24px;}
.aside .holder{
  height:520px;
  padding:0 1px;
  line-height:16px;
}

.widget{
  width:100%;
  margin-bottom:20px;
  position:relative;
}
.widget:after{
  clear:both;
  content:"";
  display:block;
}
.widget h2{
  text-transform:uppercase;
  margin:0 0 9px;
  font:bold 12px/14px Helvetica, Arial, sans-serif;
}
.archive-widget ul{
  margin:0;
  width:56px;
}
.archive-widget li{
  float:left;
  width:100%;
  padding:0 0 2px;
  list-style:none outside none;
  position:relative;
}
.archive-widget li:hover{z-index:3;}
.archive-widget ul a{
  display:block;
  overflow:hidden;
  color:#fff;
  text-align:center;
  font:bold 12px/25px Helvetica, Arial, sans-serif;
  width:56px;
  padding:0 5px;
  background:#343434;
  position:relative;
}
.archive-widget ul li:hover a{text-decoration:none;}
.archive-widget ul a .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  background:#e6e6e6;
  color:#404040;
  display:none;
  cursor:pointer;
}
.archive-widget ul a.hover-item{
  background:#e6e6e6 !important;
  color:#404040 !important;
}
.archive-widget ul ul{
  display:none;
  position:absolute;
  left:66px;
  top:0;
  width:98px;
  padding:3px 0 5px;
  overflow:hidden;
  background:#808080;
}
.archive-widget ul li ul a{
  text-align:left;
  font:bold 10px/19px Helvetica, Arial, sans-serif;
  width:auto;
  padding:0 5px 0 16px;
  background:none !important;
  color:#fff !important;
}
.archive-widget ul ul li{padding:0;}
.archive-widget ul li:hover ul a:hover{
  background:#e6e6e6 !important;
  color:#404040 !important;
}
.aside .next,
.aside .prev{
  width:58px;
  height:58px;
  overflow:hidden;
  position:absolute;
  top:134px;
  left:0;
  text-indent:-9999px;
  background:url(../images/bg-global.png) no-repeat -204px -203px;
}
.aside .next{
  left:auto;
  right:0;
  background-position:-136px -203px;
}
.aside .next.disabled{background-position:-68px -203px !important;}
.aside .prev.disabled{background-position:0 -203px !important;}
.aside .next .overlay-box,
.aside .prev .overlay-box{
  position:absolute;
  top:0;
  left:0;
  width:58px;
  height:58px;
  background:url(../images/bg-global.png) no-repeat -340px -203px;
  cursor:pointer;
}
.aside .prev .overlay-box{background-position:-272px -203px;}
.sourse-gallery .popup-area{
  position:absolute;
  top:0;
  left:-502px;
  z-index:2;
  width:500px;
  height:762px;
  border:solid #000;
  border-width:2px 2px 2px 0;
  background:#fff;
}
.sourse-gallery{
  float:left;
  width:99999px;
  overflow:hidden;
  position:relative;
  margin:0;
}
.sourse-gallery .field{
  float:left;
}
.sourse-gallery .col-holder{
  float:left;
  position:relative;
  overflow:hidden;
}
.sourse-gallery .col{
  width:250px;
  position:relative;
  border-right:1px solid #ccc;
  height:766px;
  background:#fff;
  float:left;
}
.sourse-gallery article{
  overflow:hidden;
  padding:30px 19px 5px;
  font-size:14px;
  line-height:16px;
  border-top:1px solid #ccc;
  position:relative;
}

.sourse-gallery article h2{
  font-size:100%;
  margin: 0 0 5px 0;
}
.sourse-gallery article:first-child{border:0;}
.sourse-gallery .overlay{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:url(../images/bg-white01.png);
  text-indent:-9999px;
  overflow:hidden;
  z-index:4;
}
.sourse-gallery header{
  position:absolute;
  top:0;
  left:0;
  right:0;
  color:#fff;
  font:bold 9px/15px Helvetica, Arial, sans-serif;
}
.sourse-gallery .date{
  float:right;
  min-width:72px;
  text-align:center;
  padding:0 5px;
  font-style:normal;
  background:#000;
}
.sourse-gallery .rec{
  display:block;
  overflow:hidden;
  background:#800000;
  padding:0 5px 0 19px;
}
.sourse-gallery .link{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/none.png);
  z-index:3;
}
.sourse-gallery p{margin:0 0 10px;}
.sourse-gallery .aligncenter{
  display:block;
  margin:0 auto 21px;
}
.sourse-gallery .video{
  overflow:hidden;
  padding:4px 0 25px
}
.sourse-gallery .video img{vertical-align:top;}
.article-lightbox{
  position:absolute;
  left:50%;
  top:216px;
  font-size:12px;
  line-height:16px;
  z-index:500;
  width:440px;
  padding:0 16px 3px 44px;
  height:709px;
  background:#fff;
}
.article-lightbox .close-link{
  top:0;
  right:0;
  width:24px;
  height:24px;
  background-position:-139px -67px;
}
.article-lightbox header{
  overflow:hidden;
  margin-bottom:33px;
}
.article-lightbox .rec,
.article-lightbox .date{
  float:left;
  text-transform:uppercase;
  background:#000;
  padding:0 10px 1px;
  color:#fff;
  font:bold 11px/22px Helvetica, Arial, sans-serif;
}
.article-lightbox .rec{background:#800000;}
.article-lightbox .holder{
  overflow:hidden;
  height:610px;
  margin:50px 0 18px;
  position:relative;
}
.article-lightbox .add{
  position:absolute;
  background:url(../images/bg-add.png) repeat-x;
  bottom:-60px;
  left:0;
  width:428px;
  height: 104px;
}
.article-lightbox .block{
  height:610px;
  overflow:auto;
}
.stories-lightbox .block .hold,
.article-lightbox .block .hold {padding-bottom:20px;}
.stories-lightbox .block .hold {padding-left: 20px;}

.article-lightbox h2{
  margin:0 0 23px;
  padding-top:10px;
  font:bold 26px/26px Helvetica, Arial, sans-serif;
}
.article-lightbox p{margin:0 0 10px;}
.article-lightbox .video{
  overflow:hidden;
  margin:-7px 0 14px;
}
.article-lightbox img{vertical-align:top;}
.image-gallery{
  overflow:hidden;
  margin:-2px 0 13px;
}
.image-gallery .frame{
  width:400px;
  height:235px;
  overflow:hidden;
  position:relative;
  margin:0 0 9px;
}
.image-gallery .frame ul{
  width:400px;
  height:235px;
  position:relative;
  overflow:hidden;
  margin:0;
}
.image-gallery .frame ul li{
  list-style:none outside none;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:400px;
}
.image-gallery .frame ul li.active{z-index:2;}
.image-gallery .thumbs{
  margin:0;
  overflow:hidden;
}
.image-gallery .thumbs li{
  list-style:none outside none;
  float:left;
  margin:0 0 0 9px;
  opacity:.2;
}
.image-gallery .thumbs li:hover,
.image-gallery .thumbs li.active{opacity:1}
.image-gallery .thumbs li:first-child{margin-left:0;}
/* hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom scrollbars styles */
.scrollable-area-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:191px;
}
.scrollable-area-wrapper .hscrollbar,
.scrollable-area-wrapper .vscrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .hscroll-right,
.scrollable-area-wrapper .vscroll-down {display:none;}
.scrollable-area-wrapper .hscroll-line,
.scrollable-area-wrapper .vscroll-line {
  background: #e5e5e5;
  width: 7px;
  float:right;
}
.mw-lightbox .scrollable-area-wrapper .vscroll-line,
.heroes-lightbox .scrollable-area-wrapper .vscroll-line{background:#fff;}
.scrollable-area-wrapper .hscroll-slider,
.scrollable-area-wrapper .vscroll-slider {
  background: #5c5c5c;
  width: 7px;
  height: 7px;
}
.scrollable-area-wrapper .hscrollbar {
  position: static;
  height: 7px;
  top: auto;
}
.scrollable-area-wrapper .hscroll-line {
  height: 7px;
  width: auto;
}
.article-popup{
  width:100%;
}
.sourse-gallery .article-popup{width:502px;}
.carousel .article-popup{
  right:21px;
  background:#fff;
}
.carousel2 .article-popup{
  right:19px;
  top:4px;
}
.article-popup .article-lightbox{position:static !important;}
.hidden{
  position:absolute !important;
  top:-9999px !important;
  left:-9999px !important;
}
.ico-loader{
  position:fixed;
  left:50%;
  top:50%;
  margin:0;
  width:30px !important;
  height:30px !important;
  display:none;
  z-index:999;
  background:url(../images/prettyLoader/prettyLoader.png) no-repeat;
  text-align:center;
}
.ico-loader img{
  display:block;
  margin:5px auto 0;
}
.loading .ico-loader{display:block;}
* +html .carousel2-frame{
  width:650px;
  overflow:hidden;
  position:relative;
}
.news-area{
  position:absolute;
  top:-123px;
  left:237px;
  z-index:5000;
  width:502px;
  height:769px;
  overflow:hidden;
  display:none;
}
.news-holder{
  width:500px;
  height:765px;
  border:solid #000;
  border-width:2px 2px 2px 0;
  background:#fff;
  margin:0 0 0 -502px;
}
.news-holder .article-lightbox{
  position:static;
  color:#000;
  background:none;
  border:0;
}
.carousel2-frame .holder{height:255px;}
.page-holder{
  width:100%;
  height:1200px;
  position:relative;
  overflow:hidden;
}
.page-holder.active-section{/* z-index: 2; */}
.content{
  left:50%;
  margin-left:-372px;
}
#nav{
  right:15px !important;
}
#stats-page{z-index:2;}
.bg-moto {
  background: url("../images/bg-motorbike.png") no-repeat;
  height: 153px;
  margin-left: 550px;
  position: fixed;
  top: 890px;
  width: 233px;
  left:50%;
}
.bg-car {
  background: url(../images/bg-car.png) no-repeat;
  height: 249px;
  margin-left: -750px;
  position: fixed;
  top: 800px;
  width: 652px;
  left:50%;
}
.bg-ground {
  background: url(../images/bg-page01.jpg) no-repeat;
  height: 450px;
  margin-left: 0;
  position: fixed;
  top: 779px;
  width: 1900px;
}
.bg-truck-men {
  background: url(../images/bg-truck-men.png) no-repeat;
  height: 756px;
  margin-left: -150px;
  position: fixed;
  top: 600px;
  width: 842px;
  left:50%;
}
.bg-motocycles {
  height: 926px;
  position: fixed;
  top: 390px;
  width: 1755px;
}
#home-page .wrapper {background:none;}
.aside{z-index:5;}
#heroes-page .content{top:9823px;}
.bg-most .content{top:7460px;}
.bg-officer{
  top:5700px;
  height:1074px;
  position:fixed;
  margin-left:30px;
  width:866px;
  left:50%;
  z-index:0;
  background:url(../images/bg-officer.png) no-repeat;
}
.bg-chief{
  background:url(../images/bg-chief.png) no-repeat;
  top:390px;
  width:590px;
  height:809px;
  margin-left:-770px;
  left:50%;
}
.chrome .bg-chief{margin-left:-880px;}
.audio {
  height: 320px;
  width: 220px;
  left: 6000px;
  top: 260px;
  z-index:90;
}
#w1{padding-bottom:2980px;}
#community-page .content{top:8600px;}
#about-page .content{top:10280px;}
#home-page .w2{margin-top:-385px;}
.bg-car01{
  top:6390px;
  position:fixed;
  width:701px;
  height:266px;
  background:url(../images/bg-car01.png);
  margin-left:-740px;
  left:50%;
}
.bg-truck{
  top:7900px;
  position:fixed;
  width:878px;
  height:501px;
  background:url(../images/bg-truck.png);
  margin-left:-260px;
  left:50%;
}
#home-page .content{
  background:url(../images/bg-white.png) repeat;
  position:relative;
}
.content.no-fixed{margin-left:auto;}
.comunity-box{
  margin:0 auto;
  width:750px;
}
#community-page h1{
  margin:-2px -5px 8px 0;
  font: bold 79px/80px Helvetica, Arial, sans-serif;
  color:#000;
  text-transform:uppercase;
}
.comunity-box{
  margin:0 auto;
  width:750px;
  color:#000;
}
#community-page h1 span{
  color:#959595;
  font: normal 90px/80px Helvetica, Arial, sans-serif;
  letter-spacing:-2px;
  display:inline-block;
  margin:0 0 0 -3px;
  padding:5px 0 0;
}
#community-page p{
  margin:0 0 23px;
  font-size:13px;
  line-height:15px;
}
.carousel3 {position: relative;}
.carousel3 .mask {
  position: relative;
  overflow: hidden;
  width: 709px;
  border:18px solid #000;
  height:433px;
}
.carousel3 .mask .slideset {
  width: 99999px;
  float: left;
}
.carousel3 .mask .slide {
  width: 709px;
  float: left;
  position:relative;
}
.carousel3 .pager{
  bottom:-42px;
  right:5px;
}
.carousel3 .text{
  background:#fff;
  position:absolute;
  bottom:0;
  left:0px;
  height:31px;
  width:677px;
  padding: 16px 10px 30px 22px;
  display:none;
}
.carousel3 .text p{
  color:#000;
  font-size:12px;
  line-height:14px;
  margin:0 0 10px;
}
.alt-tooltip{
  background:url(../images/bg-alt-tooltip.png) no-repeat -343px 0;
  padding-top:25px;
  width:333px;
  top:0;
  left:0;
}
.alt-tooltip .holder{
  padding-bottom:16px;
  background:url(../images/bg-alt-tooltip.png) no-repeat -686px 100%;
}
.alt-tooltip .frame{
  background:url(../images/bg-alt-tooltip.png) repeat-y;
  padding:5px 15px 8px 22px;
}

.news-area.active{overflow:visible;}
.meta-section {
  width:100%;
  position:relative;
}
.meta-section:after {
  content:"";
  display:block;
  clear:both;
}
.meta-section .socials {
  float:left;
}

.stories-lightbox .link-article {
  float:right;
  background:#e5e5e5;
  text-decoration:none;
  text-transform:uppercase;
  color:#000;
  font-weight:bold;
  font-size:11px;
  line-height:19px;
  padding:0 10px;
  margin:-19px 0 0 !important;
}
.stories-lightbox .meta-section .link-article{margin:5px 40px 0 0 !important;}
.stories-lightbox .meta-section .hover-tooltip{
  margin-top:0;
}
.link-article {
  float:right;
  background:#e5e5e5;
  text-decoration:none;
  text-transform:uppercase;
  color:#000;
  font-weight:bold;
  font-size:11px;
  line-height:19px;
  padding:0 10px;
  margin:5px 0 0;
}
.link-article:hover,
.link-article.hover {
  background:#000;
  color:#fff;
  text-decoration:none;
}
.hover-tooltip {
  width:245px;
  border:3px solid #000;
  padding:4px;
  background:#fff;
  -webkit-box-shadow: 0px 0px 4px 1px #e4e4e4;
  box-shadow: 0px 0px 4px 1px #e4e4e4;
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:999;
}
.hover-tooltip .arrow {
  background:url(../images/arrow02.png) no-repeat;
  position:absolute;
  bottom:-15px;
  width:28px;
  height:15px;
  overflow:hidden;
  text-indent:-9999px;
  left:50%;
  margin:0 0 0 -14px;
}
.hover-tooltip .tooltip-text {
  padding:2px;
  line-height:14px;
  border:1px solid #b3b3b3;
  color:#6f6f6f;
}
.btn-close {
  background:url(../images/btn-close.png) no-repeat;
  width:13px;
  height:13px;
  overflow:hidden;
  position:absolute;
  right:-3px;
  top:-3px;
  text-indent:-9999px;
  z-index:999;
}
.f-ribbon {
  position:absolute;
  left:50%;
  margin-left:-535px;
  top:372px;
  background:url(../images/badge-fallen-heroes.png) no-repeat;
  width:223px;
  height:295px;
  overflow:hidden;
  text-indent:-9999px;
  z-index:5;
}
.content.no-fixed{margin-left:auto;}
.posts-tooltip{display:none;}