#faqs {
  position: relative;
  top: -24px;
  background-color: #66B2B2;
  z-index: 1;
  padding-bottom: 30px;
}

#faqs .modal {
  display: inline-block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 250px;
  width: 600px;
  height: 300px;
  min-height: auto;
  padding: 35px;
}

#faqs .modal textarea {
  width: 100%;
  height: 130px;
}

.modal-close-button {
  margin: 4px;
}

.modal-submit-button {
  margin-top: 18px;
}

.create-faq-modal-size {
  margin-top: 150px !important;
  height: 520px !important;
}

.modal-overflow {
  overflow: visible;
}

.pagewrapper {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 40px 0px;
}

.faqbuttons {
  width: 65px;
  height: 34px;
}

#faqstables {
  height: 100%;
  padding: 25px 0;
}

.deleteFAQ {
  width: 79px;
  height: 34px;
  margin-right: 0 !important;
}

.button_setup_cat {
  width: 160px;
  height: 75px;
  padding-top: 21px;
  padding-left: 20px;
  font-size: 25px;
}

*:focus {
  outline: 0 !important;
}


.left_nav_buttons {
  width: 100%;
  height: 100%;
}

.question-row {
  padding: 20px 15px;
  margin: 3px 0;

  .main {
    background-color: #76BBBB;
  }
}

.question-row.main {
  background-color: rgba(12, 54, 151, 0.49);
}

/*.changeLink, .changeLink:hover {
  text-decoration: none;
  color: inherit;
}*/


#createfaqmodal {
  display: inline-block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
  width: 400px;
  min-height: auto;
  padding: 20px;
}

.tab-box {
  border: 1px dashed #DDD;
  border-radius: 6px;
  overflow: scroll;
  width: 80%;
  padding: 102px 0 0 0;
  position: relative;
  min-height: 800px;
}

#faqs table tr {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}


#faqs table tr td {
  border: none;
  background-color: #66b2b2;
}

.tab-hidden {
  display: none;
}

.faq-left-nav {
  width: 270px;
  margin-right: 20px;
}

.faq-left-nav ul {
  width: 100%;
}

.faq-left-nav ul li {
  width: 100%;
}

.faq-left-nav ul li a {
  text-decoration: none;
  color: #334E41;
}

.faq-left-nav ul li a:hover {
  color: #334E41;
}

.linkButton a {
  border-radius: 4px;
  color: #FFF;
}

.faq-left-nav ul li:nth-child(odd) {
  background-color: rgba(63, 145, 145, 0.44);
}

.faq-left-nav ul li:nth-child(even) {
  background-color: rgba(196, 231, 231, 0.43);
}

.question-row div.divinline {
  vertical-align: middle;
}


.faq-right-nav {
  width: 72% !important;
  margin-top: -3px;
}

.right-table-buttons {
  float: right;
  position: relative;
  right: 20px;
  top: -90px;
  padding: 19px 0 0 0;
}

.right-table-buttons.answers-only {
  top: 0;
  left: 199px;
}

.right-table-buttons .btn-primary {
  border-radius: 0;
}

.right-table-buttons .btn-primary:hover {
  background-color: #217F80;
}
.answer-row {
  padding: 20px 15px;
  margin: 3px 0;
}

.answer-row div.divinline {
vertical-align: middle;
}

.answer-row.main {
  background-color: rgba(188, 205, 244, 0.43);
}


.faq-left-nav {

  .btn-primary {
    border-radius: 0;
    color: #FFF;
    margin-right: 0;
  }

  .btn-primary:hover {
    background-color: rgba(21, 44, 105, 0.81);
    color: #FFF;
  }

  ul li.active {
    background-color: rgba(12, 54, 151, 0.49);

    a {
      color: #E2E2E2;
    }
  }

  a {
    width: 100%;
  }
}

.button-greenhaze {
  background-color: #4C9C9C !important;
}

.button-greenhaze:hover {
  background-color: #2F6464 !important;
}

.button-blue {
  background-color: rgba(48, 73, 138, 0.81);
}

.button-orange {
  background-color: #CD7B37;
}

