#faqs {
  position: relative;
  top: -24px;
  background-color: #8B9B9B;
  z-index: 1;
  padding-bottom: 30px;
}

.pagewrapper {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 30px;
  background-color: blue;
}



#createfaqmodal {
  display: inline-block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
  width: 400px;
  min-height: auto;
  padding: 20px;
}

.tab-box {
  border: 1px dashed #DDD;
  border-radius: 6px;
  overflow: scroll;
  width: 80%;
  padding: 102px 0 0 0;
  position: relative;
  min-height: 800px;
}

#faqs table tr {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

#faqs table tr td {
  border: none;
}

.tab-hidden {
  display: none;
}

.faq-left-nav {
  width: 300px;
}

.faq-left-nav ul {
  width: 100%;
}

.faq-left-nav ul li {
  width: 100%;
  background-color: green;
}

.faq-left-nav ul li:nth-child(odd) {
  background-color: yellow;
}

.faq-left-nav ul li a {
  border-radius: 0 !important;
}



.faq-right-nav {
  width: 72% !important;
}
