#faqs {
  position: relative;
  top: -24px;
  background-color: #8B9B9B;
  z-index: 1;
  padding-bottom: 30px;
}

#faqswrapper {
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 30px;
}

#createfaqmodal {
  display: inline-block;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
  width: 400px;
  min-height: auto;
  padding: 20px;
}

.tab-box {
  border: 1px dashed #DDD;
  border-radius: 6px;
  overflow: scroll;
  width: 80%;
  padding: 102px 0 0 0;
  position: relative;
  min-height: 800px;
}

#faqs table tr {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

#faqs table tr td {
  border: none;
}
