#welcomefooter {
  height: 200px;
  background-color: #4888A7;
}

#uueecfootericon {
  width: 150px;
  height: 155px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/UUEECwordsfooterblue.png);
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

#uueecfootericon:hover {
  background-image: url(/assets/UUEECwordsfooterwhite.png);
  transition: all 0.4s ease-in-out;
}

.simplizitfootericon {  
  margin-top: -35px;
  width: 230px;
  height: 135px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
}

.simplizitfootericonblue {
  background-image: url(/assets/simplizitwordblue.png);
  z-index: 10;
}

.simplizitfootericonwhite {
  background-image: url(/assets/simplizitwordwhite.png);
  z-index: 9;
}

.displaynone {
  display: none;
}

#footericonwrapper {
  margin-right: auto;
  margin-left: auto;
  width: 227px;
  height: 200px;
}

#footericonwrapper h5 {
  padding-top: 50px;
  color: #144f6d;
  margin-top: 0px;
  text-align: center;
}

#grasswrapper {
  position: relative;
  width: 1013px;
  height: 200px;
  top: -76px;
  left: -400px;

}

.grassmain {  
  width: 1000px;
  height: 317px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -117px;
  right: 0px; 
}

.grassmainblue {
  background-image: url(/assets/grassmainblue.png);
  z-index: 10;
}

.grassmaincolor {
  background-image: url(/assets/grassmaincolor.png);
  z-index: 9;
}

#flowerwrapper {
  position: relative;
  left: -387px;
  top: -380px;
  width: 1000px;
  height: 200px;
}

#footeractivate {
  position: relative;
  left: 0px;
  top: -200px;
  width: 1000px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  z-index: 11;
}