.picker-switch {
  border-radius: 4px;
}
.picker-switch:hover {
  background-color: #428bca;
}

.picker-switch:hover span {
  color: #FFF;
}

#obligationcalpage {
  position: relative;
  background-color: #87949A;
  z-index: 1;
  padding-bottom: 30px;
}
#obligationTitle {
  position: relative;
  top: 45px;
  text-align: center;
  color: #FFF;
  letter-spacing: 1px;
  z-index: 30;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#obligationTitle h1 {
  font-size: 80px;
}

.icon-time {
  color: #333;
}

.icon-calendar {
  color: #333;
}

.table-condensed tr td {
  padding-right: 12px;
}

.timepicker {
  padding-left: 67px;
  width: 20px;
}

.calendarModal {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  display:table;
}

.calendarModal input {
  border: 1px solid #cccccc;
  width: 100%;
}

.calendarModal .fc-event-time {
  display: none;
}

.calendarModal textarea {
  width: 100%;
}

.calendarModal .date input {
  width: 265px;
}

.calendarModal .modalSubmitBtn {
  margin-top: 20px;
}

.calendarModal .btn-modal-close {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
}

.calendarModal .modalHeader {
  margin-bottom: 15px;
}
