@font-face {
  font-family: 'RockSalt';
  src: url(RockSalt.ttf); 
}

@font-face {
  font-family: 'ChalkBoard';
  src: url(NothingYouCouldDo.ttf); 
}

/*#application_child_image {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url(/assets/program-flower-blk.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: .2;
  z-index: 1;
}*/

.application_image {
  background-image: url(/assets/program-flower-blk.png);
  background-image: 75%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  width: 944px;
}

.application_child_div {
  height: 461px;
  top: 7px;
}

/*#child_div {
  position: relative;
  z-index: 10;
}*/

.application_name_div {
  height: 904px;
  top: -495px;
}

.application_home_div {
  height: 1361px;
  top: -937px;
}

.application_work_div {
  height: 1759px;
  top: -1415px;
}

.application_skills_div {
  height: 2000px;
  top: -1783px;
}

#name_div {
  position: relative;
  z-index: 9;
}

.image_prep_div {
  width: 944px;
  height: 424px;
  overflow: hidden;
  position: absolute;
  top: 0;
}


.front {
  position: relative;
}

.form-note {
  font-size: 12px;
}

#new_application {
  position: relative;
  background-color: #BCC4D7;
  z-index: 1;
  padding-bottom: 30px;
}

#new_application_full_image {
  background-image: url(/assets/program-flower-blk.png);
  background-image: 80%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 33px;
  width: 1060px;
  height: 2045px;
}

#new_application_wrapper {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 30px;
  color: #474747;
}

form input {
  border-radius: 4px;
  border: 3px solid #FFF;
  outline: none;
  padding: 6px 10px;
  margin-bottom: 14px;
  margin-right: 10px;
}

.application_field_div {
  position: relative;
  width: 988px;
  padding: 20px;
  background: hidden;
  border-radius: 16px;
  border: 12px solid #FFF;
  background-color: #9297A1;
  margin-bottom: 16px;
  box-shadow: 2px 2px 2px #888888;
}

.application_field_div h4 {
  font-family: 'ChalkBoard';
  color: #FFF;
  font-size: 30px;
}

#datetimepickerbirthdate {
  width: 300px;
}

.datetimepicker {
  margin-top: 34px !important;
  margin-left: -4px !important;
}

.datetimepicker td.active, .datetimepicker td span.active {
  background-color: #FFF !important;
  background-image: none !important;
  color: #333 !important;
}

.datetimepicker td.active:hover, .datetimepicker td span.active:hover {
  background-color: #EEE !important;
}

.datetimepicker i {
  color: #474747;
}

.program-select {
  margin-right: 10px;
}

.program-select.dropdown-menu{
  position: relative !important;
  z-index: 2000 !important;
}

.program-select.other_child_relationship {
  margin-left: 40px;
}

.program-select ul li a {
  outline: none !important;
}

.program-select button {
  background-color: #7AAFB2;
  color: #FFF !important;
  outline: none !important;
  height: 38px;
}

.program-select button:focus {
  outline: none !important;
}

.program-select button:hover {
  background-color: #427979;
  color: #FFF;
  outline: none !important;
}

.program-select .caret {
  border-top: 4px solid #FFF
}

.program-select .dropup .caret {
  border-bottom: none !important;
}

.radio {
  margin-top: 6px !important;
  padding-left: 0px !important;
}

textarea:focus, input:focus {
  border: 3px solid #7AAFB2 !important;
  border-color: #7AAFB2 !important;
  box-shadow: none !important;
}

.input-group-addon:focus {
  border-color: blue !important;
}

.phone-input {
  width: 200px;
}

.zip-input {
  width: 124px;
}

.add_person_div {
  margin-top: 7px;
  margin-left: 15px;
}

.add_person_fields {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
}

.destroy_person {
  padding-top: 18px;
}





