/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/*// #jsDisabled is in case the browser does not have javascript enabled*/
#jsDisabled {
  color: red;
}

html {
  min-width: 1000px;
}

body {
  min-width: 1000px;
}

#uueecBanner {
  width: 400px;
  height: 526px;
  overflow: hidden;
  background-image: url(/assets/uueecbanner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -21px;
  z-index: 1;
}

#welcomephoto {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-image: url(/assets/tablepainting.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#welcomemessage {
  height: 300px;
  background-color: #36A6DF;
  color: #FFF;
  font-size: 33px;
  line-height: 41px;
  text-align: center;
  padding: 30px;
}

#welcomemessage span {
  color: #c8ebf9;
}

#circle {
  width: 110px;
  height: 140px;
  position: relative;
  top: -26px;
  overflow: hidden;
  background-image: url(/assets/circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

#welcomemessagepara {
  width: 750px;
  display: inline-block;
}

.welcomedivselections {
  width: 310px;
  height: 450px;
  background-color: #FFF;
  border-radius: 6px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
}

.welcomedivselections h5 {
  color: #38a7db;

}

#welcomedivcontainer {
  padding-top: 50px;
  padding-bottom: 35px;
  margin-bottom: 61px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#eventdiv {
  width: 300px;
  height: 194px;
  position: relative;
  margin-bottom: 35px;
  top: 20px;
  overflow: hidden;
  background-image: url(/assets/event.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#blogdiv {
  width: 185px;
  height: 227px;
  position: relative;
  top: 9px;
  margin-bottom: -9px;
  overflow: hidden;
  background-image: url(/assets/blog.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

#programdiv {
  width: 139px;
  height: 187px;
  position: relative;
  top: 24px;
  margin-bottom: 43px;
  overflow: hidden;
  background-image: url(/assets/program.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

#welcomephilosophy {
  height: 500px;
  background-color: #126791;
}

#philosophycirclecontainer {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 500px;
}

.circle {
  border-radius: 50%;
  background-color: #FFF;
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.circlerelative {
  position: relative;
}

.circleabsolute {
  position: absolute;
}

#circleone {
  position: relative;
  top: -63px;
  left: -100px;
}

#circletwo {
  position: relative;
  left: 660px;
  top: -73px;
}

#circlethree {
  position: relative;
  left: 200px;
  top: -121px;
}

#welcomecurriculum {
  height: 900px;
}

#curriculumwrapper {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  height: 100%;
}

#pillars {
  width: 1029;
  height: 674px;
  position: relative;
  left: -23px;
  top: 236px;
  opacity: .4;
  overflow: hidden;
  background-image: url(/assets/pillars2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

#swing {
  width: 168px;
  height: 315px;
  position: relative;
  left: 16px;
  top: -724px;
  opacity: .4;
  overflow: hidden;
  background-image: url(/assets/swing.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

#twoswing {
  width: 100px;
  height: 420px;
  position: relative;
  left: 880px;
  top: -1104px;
  opacity: .4;
  overflow: hidden;
  background-image: url(/assets/twoswing.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

#welcomefooter {
  height: 400px;
  background-color: #4888A7;
}






/*navbar below*/
#navbar {
  margin-top: 20px;
}

#navbar li {
  padding-right: 20px;
}

#navbar a {
  background: #FFF;
  -webkit-transition: background .5s;
  color: #87949a;
  font-size: 1.2em;

}

#navbar a:hover {
  background: #87949a;
  -webkit-transition: background .5s;
  color: #FFF;
}