<div id="EventModal" class='modal fade' tabindex="-1" style="display: none;">
  <div>
    <h3>Event</h3><button type='button' class="button_closeEvent btn btn-xs" data-type='EventModal'>Close</button>
  </div>

  <div id='eventbody' class="modal-body">
  </div>
</div>