<div id="EventModal" class='modal fade' tabindex="-1" style="display: none;" data-backdrop="true" data-keyboard="true">
  <div>
    <button type='button' class="button_closeEvent btn btn-xs calendarmodalclose" data-type='EventModal'><i class='fa fa-location-arrow'></i> Close</button>
    <button type='button' class="eventDelete btn btn-danger btn-xs" data-type='EventModal'><i class='fa fa-exclamation'></i> Delete Event</button>
  </div>
  <div id='eventbody' class="modal-body"></div>
</div>